﻿@using dalmirleCloudCore.Meta;

@{
    Layout = "_AdminLayout";

    var space = (zp_get_disk_space_report_Result)ViewBag.space;
    var sharetop10 = (IEnumerable<zp_get_sharetometop10_report_Result>)ViewBag.top10shareme;
    var top10filereport = (IEnumerable<zp_get_top10_file_size_report_Result>)ViewBag.top10filereport;

    var recentuploadreport = (IEnumerable<zp_get_recent_upload_report_Result>)ViewBag.recentuploadreport;
}
<style>

    .tooltip .tooltip-inner {
        background-color: deepskyblue;
    }

    .tooltip .arrow::before {
        border-left-color: green;
    }

    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
    }

        .ui-autocomplete > li > div {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333333;
            white-space: nowrap;
        }

    .ui-state-hover,
    .ui-state-active,
    .ui-state-focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
        cursor: pointer;
    }

    .ui-helper-hidden-accessible {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }


    .dropdown-menu {
        z-index: 9999 !important;
    }

    .ui-autocomplete, .ui-menu, .ui-menu-item {
    }

    td {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>



<div class="web-content" data-current="">
    <div class="page-header">
        <h1 class="page-title text-primary-d2">
            Dashboard
            <small class="page-info text-secondary-d2">
                <i class="fa fa-angle-double-right text-80"></i>
                overview &amp; stats
            </small>
        </h1>

        <div class="page-tools">
            @*<button type="button" class="btn btn-sm btn-lighter-default btn-h-lighter-purple btn-a-lighter-purple border-b-2">
                    <i class="fa fa-save text-120 text-purple-m1"></i>
                </button>
                <button type="button" class="btn btn-sm btn-lighter-default btn-h-lighter-success btn-a-lighter-success border-b-2">
                    <i class="fa fa-undo text-110 text-success-m1"></i>
                </button>

                <div class="btn-group dropdown dd-backdrop dd-backdrop-none-md">
                    <button type="button" class="btn btn-sm btn-lighter-info btn-a-outline-info dropdown-toggle border-b-2" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-search text-110"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-caret dropdown-animated animated-2 dd-slide-up dd-slide-none-md">
                        <div class="dropdown-inner">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>*@


        </div>
    </div>

    <!-- the welcmome to Ace message -->

    <div class="container-fluid m-0 p-0">
        <div class="row justify-content-between m-0 p-0">

            <div class="col-12 col-lg-8 m-0 p-0 mt-1" style="min-height:300px;">

                <div class="container-fluid">
                    <div class="row justify-content-between">
                        <div class="col-12 m-0 p-0">
                            <div class="card">

                                <div class="card-header border-0 bgc-primary-d2 card-header-sm">
                                    <h6 class="card-title pt-0">
                                        <i class="fas fa-cloud text-white-tp2 node-icon"></i>
                                        <span class="text-110 text-white" style="letter-spacing:0px;">
                                            別人與我分享
                                        </span>
                                    </h6>

                                </div>
                                <div class="card-body dashboard-share-content" data-top="4">




                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="container-fluid m-0 p-0">
                    <div class="row-justify-content-between m-0 p-0">

                        <div class="col-lg-12 m-0 p-0 mb-3 mt-1 text-left">

                            <span class="font-weight-bold text-110">
                                <i class="fa fa-star mr-1 text-warning text-90"></i>我的資料夾
                            </span>

                        </div>

                        <div class="col-lg-12 m-0 p-0">
                            <table id="simple-table card" class="table table-hover table-bordered ">
                                <thead>
                                    <tr class="bgc-purple-tp2 text-white">
                                        <th>資料夾名稱</th>
                                        <th>檔案名稱</th>
                                        <th>檔案大小(MB)</th>
                                        <th class="d-none d-sm-table-cell">上傳者</th>
                                        <th><i class="far fa-clock text-110"></i> 上傳時間</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @if (sharetop10.Count() == 0)
                                    {
                                        <tr class="">
                                            <td colspan="5"> 別人尚未上傳..</td>
                                        </tr>
                                    }

                                    @foreach (var item in sharetop10)
                                    {
                                        <tr class="">
                                            <td width="3%">@item.docname</td>
                                            <td width="3%">@item.filename</td>
                                            <td width="3%">@item.filesize</td>
                                            <td width="3%">@item.create_by</td>
                                            <td width="3%">@item.dt_create</td>
                                        </tr>

                                    }


                                </tbody>
                            </table>

                        </div>

                        <div class="col-lg-12 m-0 p-0 mb-1 mt-1 text-left">

                            <span class="font-weight-bold text-110">
                                <i class="fa fa-star mr-1 text-warning text-90"></i>最近自己的上傳
                            </span>

                        </div>

                        <div class="col-lg-12 m-0 p-0">

                            <table id="simple-table card" class="table table-hover table-bordered ">
                                <thead>
                                    <tr class="bgc-purple-tp2 text-white">
                                        <th>資料夾名稱</th>
                                        <th>檔案名稱</th>
                                        <th>檔案大小(MB)</th>
                                        <th class="d-none d-sm-table-cell">來源</th>
                                        <th><i class="far fa-clock text-110"></i> 上傳時間</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (recentuploadreport.Count() == 0)
                                    {
                                        <tr class="">
                                            <td colspan="5"> 目前尚未上傳檔案..</td>
                                        </tr>
                                    }

                                    @foreach (var item1 in recentuploadreport)
                                    {
                                        <tr class="">
                                            <td width="3%">@item1.docname</td>
                                            <td width="3%">@item1.filename</td>
                                            
                                            <td width="3%">@item1.filesize</td>
                                            <td width="3%">@item1.relativepath</td>
                                            <td width="3%">@item1.dt_create</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>


                    </div>
                </div>

            </div>

            <div class="col-lg-4 m-0 p-0 mt-1" style="min-height:300px;">
                <div class="container-fluid m-0 p-0">
                    <div class="row justify-content-between m-0 p-0">



                        <div class="col-12 ml-2 p-0 mt-0">
                            <div class="card">
                                <div class="card-header border-0 bgc-primary-d1 card-header-sm">
                                    <h6 class="card-title pt-0">
                                        <i class="fas fa-cloud text-white-tp2 node-icon"></i>
                                        <span class="text-110 text-white" style="letter-spacing:0px;">Cloud儲存空間</span>
                                    </h6>

                                </div>
                                <div class="card-body">
                                    <span>目前使用量 @space.used </span><span>(儲存空間配額 500GB)</span>
                                    <span class="ml-1">@space.percen</span>
                                    <div class="progress mt-3">
                                        <div class="progress-bar1 progress-bar-striped progress-bar-animated bgc-info" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: @space.percen">@space.percen</div>
                                    </div>
                                </div>

                            </div>

                        </div>


                        <div class="col-12 ml-2 p-0 mt-4">

                            <div class="card border-0 h-100">
                                <div class="card-header border-0 bgc-primary-d1 card-header-sm">
                                    <h6 class="card-title pt-0">
                                        <i class="mr-1 fa fa-signal text-white-tp2"></i>
                                        <span class="text-110 text-white" style="letter-spacing:0px;">Top 10 Document Size</span>
                                    </h6>

                                </div>

                                <div class="card-body px-0 bgc-white border-2 border-t-0 brc-primary-m4 pb-0 flex-grow-1 d-flex flex-column">
                                    <div class="flex-grow-1 d-flex align-items-center px-2 pb-2">
                                        <canvas class="mw-100" id="piechart" height="110"></canvas>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col-12 ml-2 p-0 mt-5">


                            <table id="simple-table card" class="table table-hover table-bordered ">
                                <thead>
                                    <tr class="bgc-primary-d1 text-white">
                                        <th>Top 10 File Size</th>
                                        <th>檔案大小(MB)</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @if (top10filereport.Count() == 0)
                                    {
                                        <tr class="">
                                            <td colspan="2"> 目前尚未上傳檔案..</td>
                                        </tr>
                                    }

                                    @foreach (var item in top10filereport)
                                    {
                                        <tr class="">

                                            <td width="3%">@item.filename</td>
                                            <td width="3%">@item.filesize</td>
                                        </tr>

                                    }


                                </tbody>
                            </table>



                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="h-1 my-1"></div>

</div>

<!--upload modal-->
<div class="modal fade" id="exampleModal" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg w-50 modal-dialog-centered" role="document">

        <div class="modal-content ">
            <div class="modal-header">

            </div>
            <div class="modal-body mx-1 px-2">
                <div class="form-container">
                    <div class="row">
                        <div class="col-10  py-1 ">
                            <div style="height:20px;margin-left:0;font-size:18px;">Please Choose Files To Upload</div>
                        </div>
                        <div class="col-2">
                            <button type="button" style="width:20px;height:20px;"
                                    class="close btn btn-primary btn-lg  bg-danger"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="col-12">
                            <form action="@Url.Content("~/data/uploadfile")" id="uploadForm" name="frmupload"
                                  method="post" enctype="multipart/form-data">
                                <div class="container-fluid">
                                    <div class="row justify-content-between">
                                        <div class="col-12 m-0 p-0">
                                            <input type="" hidden id="uploadpath" name="path" value="" />
                                        </div>
                                        @*<div class="col-12 m-0 p-0">
                                                <span class="h4">分類:</span>
                                                @Html.DropDownList("category", filecateSelectItem,
                                                   new { @class = "form-control w-50 text-right", id = "category" })

                                            </div>*@
                                    </div>

                                    <div class="row justify-content-between mt-3" style="border-top:dotted 3px;">

                                        <span class="btn btn-success btn-file col-3 pl-0 ml-0">
                                            <span class="fileinput-new px-3">Choose File</span>
                                            <input type="file"
                                                   id="uploadImage" name="uploadImage" multiple />
                                        </span>



                                        <input class="btn btn-warning col-3" id="submitButton"
                                               type="submit" name='btnSubmit' value="Upload" />

                                    </div>
                                </div>
                            </form>
                            <div class="text-info font-weight-bold mb-2">File List</div>
                            <ul class="file_lists" style="border:dotted 3px;min-height:20px;"></ul>

                            <div class='progress h-100 progress-modal' hidden id="progressDivId">
                                <div class='progress-bar' id='progressBar'></div>
                                <div class='percent' id='percent'>0%</div>

                            </div>
                            <table class="w-100 mb-3 progress-modal">
                                <tr>
                                    <td class="" style="width:100%;">
                                        <div class="progress" style="height:25px;">
                                            <div class="progress-bar progress-bar-info progress-bar-striped"
                                                 role="progressbar"
                                                 aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
                                                 style="width:0%">
                                                0
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="pt-1">已經過<span id="minutes">0</span>分鐘</div>
                                    </td>
                                </tr>
                            </table>
                            <div style="height: 10px;"></div>
                            <div class="container-fluid">
                                <div class="row justify-content-between" style="border-top:dotted 3px;">
                                    <div class="col-8 ml-0 pl-0">
                                        <div id='outputImage' style="font-size:18px;" class="text-success font-weight-bold "></div>
                                    </div>
                                    <div class="col-4 m-0 p-0  text-right">
                                        <div class="btn-down-close btn btn-danger w-75 close in-active" data-dismiss="modal" aria-label="Close">close</div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createDirectoryModal"
     tabindex="-1" role="dialog" aria-labelledby="createDirectoryModal" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">創建資料夾</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12 m-0 p-0">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text pr-2"
                                          style="background-color:#eee;" id="basic-addon3">
                                        folder name
                                    </span>
                                </div>
                                <input class="form-control text-box single-line"
                                       style="height:50px;"
                                       placeholder="資料夾名稱"
                                       id="createfoldername" name="createfoldername"
                                       required="required" type="text" value="">
                                <div> <span class="field-validation-valid text-danger" data-valmsg-for="title" data-valmsg-replace="true"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-create-folder">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="moveModal" tabindex="-1" role="dialog" aria-labelledby="moveModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg w-50" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">移動資料夾</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12 m-0 p-0">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text pr-2"
                                          style="background-color:#eee;" id="basic-addon3">
                                        來源
                                    </span>
                                </div>
                                <input class="form-control text-box single-line"
                                       style="height:50px;"
                                       placeholder="資料夾名稱"
                                       id="sourcename" name="sourcename"
                                       data-realpath=""
                                       readonly
                                       required="required" type="text" value="">

                            </div>
                        </div>
                        <div class="col-12 m-0 p-0 mt-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text pr-2"
                                          style="background-color:#eee;" id="basic-addon3">
                                        目的
                                    </span>
                                </div>
                                <input class="form-control text-box single-line"
                                       style="height:50px;"
                                       placeholder="資料夾名稱"
                                       readonly
                                       id="targetename" name="targetename"
                                       data-realpath=""
                                       required="required" type="text" value="">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-2 text-danger-m2 font-weight-bold">選擇目的地</div>


                <ul class="nav nav-tabs nav-tabs-simple nav-tabs-scroll border-b-1 brc-secondary-l2 mx-n3 mx-md-0 px-3 px-md-0" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home0" role="tab" aria-controls="home" aria-selected="true">
                            <i class="fa fa-home text-success-m2 mr-3px"></i>
                            我的雲端硬碟
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link brc-purple-tp2  d-style" id="profile-tab" data-toggle="tab" href="#profile0" role="tab" aria-controls="profile" aria-selected="false">
                            <i class="fa fa-user text-purple-m2 mr-3px"></i>
                            <span class="d-n-active">我與別人分享</span>
                            <span class="d-active text-purple">
                                我與別人分享
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact0" role="tab" aria-controls="contact" aria-selected="false">
                            <i class="fa fa-plus text-blue-m2 mr-3px"></i>
                            別人與我分享
                        </a>
                    </li>
                </ul>

                <div class="tab-content tab-sliding px-0 mx-n3 mx-md-0">
                    <div class="tab-pane show active text-95 px-3 px-md-2" id="home0" role="tabpanel" aria-labelledby="home-tab">
                        <div class="container-fluid">
                            <div class="row justify-content-between">
                                <div class="col-12 col-md-12 mt-3 mt-md-0">
                                    <div class="jqtree tree-dotted id-jqtree-files"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane text-95 px-3 px-md-2" id="profile0" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="container-fluid">
                            <div class="row justify-content-between">
                                <div class="col-12 col-md-12 mt-3 mt-md-0">
                                    <div class="jqtree tree-dotted id-jqtree-files"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane text-95 px-3 px-md-2" id="contact0" role="tabpanel" aria-labelledby="contact-tab">

                        <div class="container-fluid">
                            <div class="row justify-content-between">
                                <div class="col-12 col-md-12 mt-3 mt-md-0">
                                    <div class="jqtree tree-dotted id-jqtree-files"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-move-folder">Move To</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="shareModal"
     data-path=""
     tabindex="-1" role="dialog" aria-labelledby="shareModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg w-50 " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleshareModal">共享資料夾</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row justify-content-start">
                        <div class="col-12 m-0 p-0">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text pr-2"
                                          style="background-color:#eee;" id="basic-addon3">
                                        資料夾
                                    </span>
                                </div>
                                <input class="form-control text-box single-line"
                                       style="height:50px;"
                                       placeholder="資料夾名稱"
                                       id="sharesourcename" name="sharesourcename"
                                       data-realpath=""
                                       readonly
                                       required="required" type="text" value="">

                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-start">
                        <div class="col-10 m-0 p-0 mt-1">

                            <label for="colFormLabelSm"
                                   class="col-sm-3
                                    py-1
                                    m-0 p-0
                                    font-weight-bold
                                    col-form-label col-form-label-sm">
                                <a href="#"
                                   data-toggle="collapse" data-target="#multiCollapseExample"
                                   aria-expanded="false" aria- controls="multiCollapseExample"
                                   style="display:inline-block;">
                                    <i class="fas fa-caret-right"></i>
                                    <span class="text-dark">設定</span>
                                </a>

                            </label>
                            <div id="multiCollapseExample" class="collapse  setting-content">


                            </div>

                        </div>
                    </div>

                </div>

                <div class="mt-2 text-danger-m2 font-weight-bold">選擇對象</div>


                <ul class="nav nav-tabs nav-tabs-simple nav-tabs-scroll border-b-1 brc-secondary-l2 mx-n3 mx-md-0 px-3 px-md-0" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab1" data-toggle="tab" href="#home01" role="tab" aria-controls="home" aria-selected="true">
                            <i class="fa fa-home text-success-m2 mr-3px"></i>
                            加入使用者
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link brc-purple-tp2  d-style" id="profile-tab1" data-toggle="tab" href="#profile01" role="tab" aria-controls="profile" aria-selected="false">
                            <i class="fa fa-user text-purple-m2 mr-3px"></i>
                            <span class="d-n-active">加入群組</span>
                            <span class="d-active text-purple">
                                加入群組
                            </span>
                        </a>
                    </li>

                </ul>

                <div class="tab-content tab-sliding px-0 mx-n3 mx-md-0 w-100 ">
                    <div class="tab-pane show active text-95 px-3 px-md-0 w-100" id="home01" role="tabpanel" aria-labelledby="home-tab1" style="min-height:500px;overflow:hidden;">
                        <div class="container-fluid m-0 p-0">


                            <div class="row justify-content-start m-0 p-0">
                                <div class="col-10 m-0 p-0 select-content">



                                </div>
                                <div class="col-2 m-0 p-0">
                                    <button type="button" id="id-nav-post-btn"
                                            class="btn btn-outline-grey btn-h-outline-green btn-h-text-grey btn-a-outline-green btn btn-bold btn-brc-tp btn-sm mx-lg-0 mr-2 btn-add-member" href="#">
                                        <i class="bgc-green radius-round w-3 h-3 text-center fa fa-plus mr-lg-1 text-white pt-15 text-95"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="row justify-content-start m-0 p-0 w-100">
                                <div class="col-12 m-0 p-0 sharemember-content">



                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane text-95 px-3 px-md-0" id="profile01" role="tabpanel" aria-labelledby="profile-tab1" style="min-height:500px;">
                        <div class="container-fluid m-0 p-0">


                            <div class="row justify-content-start m-0 p-0">
                                <div class="col-10 m-0 p-0 select-dept-content">



                                </div>
                                <div class="col-2 m-0 p-0">
                                    <button type="button" id="id-nav-post-btn"
                                            class="btn btn-outline-grey btn-h-outline-green btn-h-text-grey btn-a-outline-green btn btn-bold btn-brc-tp btn-sm mx-lg-0 mr-2 btn-add-deptno" href="#">
                                        <i class="bgc-green radius-round w-3 h-3 text-center fa fa-plus mr-lg-1 text-white pt-15 text-95"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="row justify-content-start m-0 p-0 w-100">
                                <div class="col-12 m-0 p-0 sharedept-content">



                                </div>

                            </div>


                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary btn-share-folder">Move To</button>*@
            </div>
        </div>
    </div>
</div>





@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.js"></script>
    <script>

        function drawPieChare() {
             var _animate = !AceApp.Util.isReducedMotion();//make sure no animation is displayed according to user preferences
               var reportlabels = @Html.Raw(ViewBag.ReportLable);

               var reportvalue = @Html.Raw(ViewBag.ReportValue);

                //console.log(reportlabels);
                //console.log(reportvalue);

               //the traffic sources pie chart
               var config = {
                   type: 'doughnut',
                   data: {
                       datasets: [{
                           label: 'Traffic Sources',
                           data: reportvalue,
                           backgroundColor: [
                               "#6dbb6d",
                               "#4697ca",
                               "#e5758f",
                               "#a072b9",
                               "#fee074"
                           ],
                       }],
                       labels: reportlabels,
                   },

                   options: {
                       responsive: true,

                       cutoutPercentage: 50,
                       legend: {
                           display: true,
                           position: 'right',
                           labels: {
                               usePointStyle: true
                           }
                       },
                       animation: {
                           animateRotate: true,
                           duration: _animate ? 1000 : false
                       },
                       tooltips: {
                           enabled: true,
                           cornerRadius: 0,
                           bodyFontColor: '#fff',
                           bodyFontSize: 14,
                           fontStyle: 'bold',

                           backgroundColor: 'rgba(34, 34, 34, 0.73)',
                           borderWidth: 0,

                           caretSize: 5,

                           xPadding: 12,
                           yPadding: 12,

                           callbacks: {
                               label: function (tooltipItem, data) {
                                   var label = data.labels[tooltipItem.index];
                                   return ' ' + label + ": " + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                               }
                           }
                       }
                   }
               };

               var trafficPieChart = new Chart(document.getElementById('piechart'), config);

            }

        function loadDashboardShardWebContent() {

            var top = $('.dashboard-share-content').data('top');

            var url = "../data/GetTreeForDashboard"+"/"+top;

            $('.dashboard-share-content').load(url, function(){
                btndashboardloadmore();

                $('.btn-view-detail').on('click', function () {
                    var target = $(this).data('target');

                    var abpath = $(this).data('abpath');


                    //$(target).html('<h1>111</h1>');

                    var url = "../data/GetFoderDetailByDashboard";

                    var postobj = {
                        path: abpath,
                    }

                    $.post(url, postobj, function (e) {

                        $(target).html(e);


                        $('.btn-goto').on('click', function () {


                            $('.web-content').data('current', abpath);
                            $('.navbar-search-input').data('folder', "別人與我分享");

                            loadWebContent(abpath, "別人與我分享");


                        });

                    });

                });

                $('.btn-upload-detail').on('click', function () {

                    var relpath= $(this).data('relpath');

                    $('#exampleModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    })


                    //var path = $('.web-content').data('current');

                    $('#uploadpath').val(relpath);

                });

            });

        }

        function loadShareMember(abpath) {

                var sharememberurl = "@Url.Content("~/data/GetPartialShareMember")";

                var postobj = {
                    path: abpath,
                }

                $.post(sharememberurl, postobj, function (e) {

                    $('.sharemember-content').html(e);

                    //bind somethine
                    $('.btn-delsharemember').on('click', function () {
                        var iddocac = $(this).data("id");
                        var name = $(this).data("name");
                        var title = "Delete "+name+"?";

                            swal({
                                title: title,
                                text: "確定刪除嗎?",
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonClass: 'btn btn-success',
                                cancelButtonClass: 'btn btn-danger',
                                confirmButtonText: 'Yes!',
                                buttonsStyling: false,
                                dangerMode: true,
                            }).then(function (isConfirm) {

                                if (isConfirm.value) {

                                    var deleteurl = "@Url.Content("~/data/DeleteShareMember")" + "/" + iddocac;

                                    $.get(deleteurl, function () {
                                        loadShareMember(abpath);
                                    });
                                }
                            });

                    });

                });
        };

        function loadShareDept(abpath) {
            var sharememberurl = "@Url.Content("~/data/GetPartialShareDept")";

                var postobj = {
                    path: abpath,
                }

                $.post(sharememberurl, postobj, function (e) {

                    $('.sharedept-content').html(e);

                    //bind somethine
                    $('.btn-delsharedept').on('click', function () {
                        var iddocdept = $(this).data("id");
                        var name = $(this).data("name");
                        var title = "Delete "+name+"?";

                            swal({
                                title: title,
                                text: "確定刪除嗎?",
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonClass: 'btn btn-success',
                                cancelButtonClass: 'btn btn-danger',
                                confirmButtonText: 'Yes!',
                                buttonsStyling: false,
                                dangerMode: true,
                            }).then(function (isConfirm) {

                                if (isConfirm.value) {

                                    var deleteurl = "@Url.Content("~/data/DeleteShareDept")" + "/" + iddocdept;

                                    //console.log(deleteurl);

                                    $.get(deleteurl, function () {
                                        loadShareDept(abpath);
                                    });
                                }
                            });

                    });

                });
        };

        function loadShareSetting(abpath) {

            var url = "../data/GetFolderSetting";

            var postobj = {
                path: abpath,
            }

            $.post(url, postobj, function (e) {
                $('.setting-content').html(e);
            });

            //loadShareMember
        }

        function popupTooltip(obj, message) {
            var option = {
                title: message,
                trigger: "manual"
            };

            obj.tooltip("dispose");
            obj.tooltip(option);
            obj.tooltip('show');
            var obj1 = obj;
            setTimeout(function () {

                $('[data-toggle="tooltip_panel"]').tooltip('hide');

                $('.tooltip').remove();
                //$('[data-toggle="tooltip_panel"]').tooltip('dispose');
                //obj1.tooltip("dispose");
                //console.log('dispose');
            }, 3000);
        }

        function deleteFile(path,filename) {

            var url = "@Url.Content("~/data/deletefile")";

            var postobj = {
                path: path,
                name: filename
            }

            $.post(url, postobj, function (e) {

                var path = $('.web-content').data('current');

                var type = $('.navbar-search-input').data('folder');

                loadWebContent(path, type);
            });

        };

        function deleteDirectory(path,name,callback) {

            var url = "@Url.Content("~/data/deletedirectory")";

            var postobj = {
                path: path,
                name:name,
            }

            $.post(url, postobj, function (e) {

                var path = $('.web-content').data('current');
                var type = $('.navbar-search-input').data('folder');

                loadWebContent(path, type);
                reloadTree1();

                callback();

            });

        };

        function createDirectory(path,foldername) {

            var url = "@Url.Content("~/data/createdirectory")";

            var postobj = {
                path: path,
                name:foldername,
            }

            $.post(url, postobj, function (e) {

                var path = $('.web-content').data('current');
                var type = $('.navbar-search-input').data('folder');

                loadWebContent(path, type);
                //loadWebContent(path,type);

                reloadTree1();

                //reloadMyFolder();
            });
        }

        function reloadMyFolder() {

            //$('#id-jqtree-files').html('');

            var url = "../data/GetTreeData";

            $.get(url, function (e) {

                var fileTree = $('.id-jqtree-files');

                var fileData = [];

                var data = jQuery.parseJSON(e);
                //fileData[0].children.push(data);
                fileData.push(data);


                fileTree.tree({
                    data: fileData,
                    autoOpen: 0,
                    dragAndDrop: false,
                    useContextMenu: true,

                    //used to specify drag & dropped items's color
                    onCanMoveTo: function (node) {
                        node.element.querySelector('* > .jqtree-element').classList.add('bgc-warning-l1', 'border-x-2', 'brc-warning');
                        return true;
                    },


                    closedIcon: $('<i class="fa fa-caret-right text-muted"></i>'),
                    openedIcon: $('<i class="fa fa-caret-right rotate-45 text-muted"></i>'),

                    onCreateLi: function (node, $li) {
                        $li.find('.jqtree-element').addClass('bgc-h-warning-l3');

                        // insert the icons
                        if (node.icons) {
                            var $title = $li.find('.jqtree-title');

                            var iconDefault = null
                            // prepend the `default` icon
                            if (node.icons.default) {
                                iconDefault = $(node.icons.default[0]).addClass(node.icons.default[1]).addClass('node-icon');
                                $title.prepend(iconDefault);
                            }

                            // prepend the `open` icon
                            if (node.icons.open) {
                                if (iconDefault) iconDefault.addClass('closed-icon');
                                $title.prepend(
                                    $(node.icons.open[0]).addClass(node.icons.open[1]).addClass('opened-icon').addClass('node-icon')
                                );
                            }
                        }
                    }
                });


                var _highlightNode = function (node) {
                    var className = node.children.length > 0 ? 'bgc-success-l2' : 'bgc-primary-l2';
                    var el = node.element.querySelector('* > .jqtree-element');

                    className="bg-white";
                    el.classList.add(className);
                    //el.classList.remove('bgc-h-warning-l3');
                }
                var _unhighlightNode = function (node) {
                    var el = node.element.querySelector('* > .jqtree-element')

                    //console.log('unhightlight');

                    el.classList.remove('bgc-primary-l2').remove('bgc-h-warning-l3');
                    //el.classList.remove('bgc-h-warning-l3');

                    //el.classList.remove('bgc-success-l2');
                    //el.classList.remove('bgc-primary-l2');
                    //el.classList.add('bgc-h-warning-l3');
                }


                var _lastContextMenu = null, _lastDropdownItem = null;
                var _hideContextMenu = function (menu) {
                    $(menu.parentNode).removeClass('dropdown dd-backdrop dd-backdrop-none-md');
                    $(menu).next().remove();
                    $(menu).dropdown('dispose').remove();
                    _lastContextMenu = null;
                    _lastDropdownItem = null;
                }

                fileTree.on('tree.click', function (e) {
                    // Disable single selection
                    e.preventDefault();

                    $(this).tree('toggle', e.node);

                    //$(this).addClass("text-info");

                    $('.navbar-search-input').data('folder', "我的雲端硬碟");

                    loadWebContent(e.node.path, "我的雲端硬碟");


                    if (_lastContextMenu != null) return;


                    var selectedNode = e.node;

                    if (selectedNode.id === undefined) {
                        //console.warn('The multiple selection functions require that nodes have an id');
                        return;
                    }

                    if (fileTree.tree('isNodeSelected', selectedNode)) {
                        fileTree.tree('removeFromSelection', selectedNode);
                        //_unhighlightNode(selectedNode);
                        //console.log(selectedNode);
                    } else {
                        fileTree.tree('addToSelection', selectedNode);
                        _highlightNode(selectedNode);
                    }
                   })
                    .on('tree.contextmenu',
                        function (event) {
                            if (_lastContextMenu != null) {
                                if (event.node.element == _lastDropdownItem) return;//dropdown already shown
                                _hideContextMenu(_lastContextMenu);//hide previous dropdown
                            }

                            var path = event.node.path;
                            $('.web-content').data('current', path);

                            _lastDropdownItem = event.node.element;

                            var item = event.node.element.querySelector('.jqtree-title');
                            $(item).addClass('dropdown dd-backdrop dd-backdrop-none-md').append(
                                '<a href="#" class="d-none" data-toggle="dropdown">&nbsp;</a>\
                                  <div class="dropdown-menu dropdown-caret radius-1 border-b-2 \
                                     shadow-sm brc-default-m2 dd-slide-up dd-slide-none-md">\
                                     <div class="dropdown-inner">\
                                <div class="d-md-none dropdown-title px-0 text-secondary-d3">'+event.node.name +       '</div>\
                                 <div class="d-md-none dropdown-divider"></div>\
                                 <a href="#" class="dropdown-item btn-folder1">\
                                    <i class= "fas fa-folder-plus  text-orange-m2  mr-1 w-2" >\
                                    </i > New Folder \
                                 </a >\
                                 <a href="#" class="dropdown-item btn-upload1" data-path="'+ event.node.path + '">\
                                    <i class= "fas fa-cloud-upload-alt text-info-m2 mr-1 w-2" >\
                                    </i > Upload \
                                 </a >\
                                 <a href = "#" class= "dropdown-item" >\
                                    <i class= "fa fa-trash-alt text-danger  mr-1 w-2" >\
                                    </i > Delete \
                                 </a >\
                                 </div></div>');


                            bindCreateFolderButton();

                            $('.btn-rename').on('click', function (e) {

                                var path = $(this).data('path');

                                console.log(path);
                                var path = $(this).data('path');
                                $('.web-content').data('current', path);
                            });

                            //create folder
                            $('.btn-folder1').on('click', function (e) {

                                $('#createDirectoryModal').modal({
                                    backdrop: 'static',
                                    keyboard: false
                                })


                            });

                            $('.btn-upload1').on('click', function () {
                                var path = $(this).data('path');
                                $('.web-content').data('current',path);
                                //alert(path);
                            });

                            _lastContextMenu = item.querySelector('[data-toggle=dropdown]');
                            $(_lastContextMenu.nextElementSibling).on('click', function (e) {
                                //e.stopImmediatePropagation();//so that node doesn't get selected
                                $(_lastContextMenu).dropdown('hide');//so that dropdown gets hidden
                            });
                            $(_lastContextMenu).dropdown('show').parent().one('hide.bs.dropdown', function (e) {
                                _hideContextMenu(this.querySelector('[data-toggle=dropdown]'));
                            });
                        }
                    );
            });

        }

        function reloadTree1() {

            var url = "../data/GetTreeData";

            $.get(url, function (e) {
                var data = jQuery.parseJSON(e);
                var new_data = [];
                new_data.push(data);
                $('.id-jqtree-files').tree('loadData', new_data);
            })
        };

        function reloadMyFolder2() {

            //$('#id-jqtree-files').html('');

            var url = "../data/GetTreeData2";

            $.get(url, function (e) {

                var fileTree = $('.id-jqtree-files2');

                var fileData = [];

                var data = jQuery.parseJSON(e);

                console.log(data);
                //fileData[0].children.push(data);
                fileData.push(data);


                fileTree.tree({
                    data: fileData,
                    autoOpen: 0,
                    dragAndDrop: false,
                    useContextMenu: false,

                    //used to specify drag & dropped items's color
                    onCanMoveTo: function (node) {
                        node.element.querySelector('* > .jqtree-element').classList.add('bgc-warning-l1', 'border-x-2', 'brc-warning');
                        return true;
                    },


                    closedIcon: $('<i class="fa fa-caret-right text-muted"></i>'),
                    openedIcon: $('<i class="fa fa-caret-right rotate-45 text-muted"></i>'),

                    onCreateLi: function (node, $li) {
                        $li.find('.jqtree-element').addClass('bgc-h-warning-l3');

                        // insert the icons
                        if (node.icons) {
                            var $title = $li.find('.jqtree-title');

                            var iconDefault = null
                            // prepend the `default` icon
                            if (node.icons.default) {
                                iconDefault = $(node.icons.default[0]).addClass(node.icons.default[1]).addClass('node-icon');
                                $title.prepend(iconDefault);
                            }

                            // prepend the `open` icon
                            if (node.icons.open) {
                                if (iconDefault) iconDefault.addClass('closed-icon');
                                $title.prepend(
                                    $(node.icons.open[0]).addClass(node.icons.open[1]).addClass('opened-icon').addClass('node-icon')
                                );
                            }
                        }
                    }
                });


                var _highlightNode = function (node) {
                    var className = node.children.length > 0 ? 'bgc-success-l2' : 'bgc-primary-l2';
                    var el = node.element.querySelector('* > .jqtree-element');

                    className = "bg-white";
                    el.classList.add(className);
                    //el.classList.remove('bgc-h-warning-l3');
                }
                var _unhighlightNode = function (node) {
                    var el = node.element.querySelector('* > .jqtree-element')

                    //console.log('unhightlight');

                    el.classList.remove('bgc-primary-l2').remove('bgc-h-warning-l3');
                    //el.classList.remove('bgc-h-warning-l3');

                    //el.classList.remove('bgc-success-l2');
                    //el.classList.remove('bgc-primary-l2');
                    //el.classList.add('bgc-h-warning-l3');
                }


                var _lastContextMenu = null, _lastDropdownItem = null;
                var _hideContextMenu = function (menu) {
                    $(menu.parentNode).removeClass('dropdown dd-backdrop dd-backdrop-none-md');
                    $(menu).next().remove();
                    $(menu).dropdown('dispose').remove();
                    _lastContextMenu = null;
                    _lastDropdownItem = null;
                }

                fileTree.on('tree.click', function (e) {
                    // Disable single selection
                    e.preventDefault();

                    $(this).tree('toggle', e.node);

                    //$(this).addClass("text-info");
                    $('.navbar-search-input').data('folder', "我與別人分享");

                    loadWebContent(e.node.path, "我與別人分享");

                    //console.log(e.node.name);
                    //alert(e.node.name);

                    if (_lastContextMenu != null) return;


                    var selectedNode = e.node;

                    if (selectedNode.id === undefined) {
                        //console.warn('The multiple selection functions require that nodes have an id');
                        return;
                    }

                    if (fileTree.tree('isNodeSelected', selectedNode)) {
                        fileTree.tree('removeFromSelection', selectedNode);
                        //_unhighlightNode(selectedNode);
                        //console.log(selectedNode);
                    } else {
                        fileTree.tree('addToSelection', selectedNode);
                        _highlightNode(selectedNode);
                    }
                })
                    .on('tree.contextmenu',
                        function (event) {
                            if (_lastContextMenu != null) {
                                if (event.node.element == _lastDropdownItem) return;//dropdown already shown
                                _hideContextMenu(_lastContextMenu);//hide previous dropdown
                            }

                            _lastDropdownItem = event.node.element;

                            var item = event.node.element.querySelector('.jqtree-title');
                            $(item).addClass('dropdown dd-backdrop dd-backdrop-none-md').append(
                                '<a href="#" class="d-none" data-toggle="dropdown">&nbsp;</a>\
                                  <div class="dropdown-menu dropdown-caret radius-1 border-b-2 \
                                     shadow-sm brc-default-m2 dd-slide-up dd-slide-none-md"><div class="dropdown-inner">\
                                 <div class="d-md-none dropdown-title px-0 text-secondary-d3">'+ event.node.name + '</div>\
                                 <div class="d-md-none dropdown-divider"></div>\
                                 <a href="#" class="dropdown-item btn-rename" data-node="'+ event.node.path + '">\
                                    <i class= "fa fa-edit text-blue mr-1 w-2 " ></i > Rename\
                                 </a >\
                                 <a href="#" class="dropdown-item">\
                                    <i class= "fa fa-trash-alt text-danger  mr-1 w-2" >\
                                    </i > Delete \
                                 </a >\
                                 <a href="#" class="dropdown-item">\
                                    <i class= "fa fa-trash-alt text-success  mr-1 w-2" >\
                                    </i > Move \
                                 </a >\
                                 <a href="#" class="dropdown-item">\
                                    <i class= "fa fa-trash-alt text-warning  mr-1 w-2" >\
                                    </i > New Folder \
                                 </a >\
                                 </div></div>');


                            $('.btn-rename').on('click', function (e) {

                                var node = $(this).data('node');

                                console.log(node);

                            });


                            _lastContextMenu = item.querySelector('[data-toggle=dropdown]');
                            $(_lastContextMenu.nextElementSibling).on('click', function (e) {
                                //e.stopImmediatePropagation();//so that node doesn't get selected
                                $(_lastContextMenu).dropdown('hide');//so that dropdown gets hidden
                            });
                            $(_lastContextMenu).dropdown('show').parent().one('hide.bs.dropdown', function (e) {
                                _hideContextMenu(this.querySelector('[data-toggle=dropdown]'));
                            });
                        }
                    );
            });

        }

        function reloadTree2() {

            var url = "../data/GetTreeData2";

            $.get(url, function (e) {
                var data = jQuery.parseJSON(e);
                var new_data = [];
                new_data.push(data);
                $('.id-jqtree-files2').tree('loadData', new_data);
            })
        };

        function reloadMyFolder3() {

            //$('#id-jqtree-files').html('');

            var url = "../data/GetTreeData3";

            $.get(url, function (e) {

                var fileTree = $('.id-jqtree-files3');

                var fileData = [];

                var data = jQuery.parseJSON(e);
                //fileData[0].children.push(data);
                fileData.push(data);


                fileTree.tree({
                    data: fileData,
                    autoOpen: 0,
                    dragAndDrop: false,
                    useContextMenu: false,

                    //used to specify drag & dropped items's color
                    onCanMoveTo: function (node) {
                        node.element.querySelector('* > .jqtree-element').classList.add('bgc-warning-l1', 'border-x-2', 'brc-warning');
                        return true;
                    },


                    closedIcon: $('<i class="fa fa-caret-right text-muted"></i>'),
                    openedIcon: $('<i class="fa fa-caret-right rotate-45 text-muted"></i>'),

                    onCreateLi: function (node, $li) {
                        $li.find('.jqtree-element').addClass('bgc-h-warning-l3');

                        // insert the icons
                        if (node.icons) {
                            var $title = $li.find('.jqtree-title');

                            var iconDefault = null
                            // prepend the `default` icon
                            if (node.icons.default) {
                                iconDefault = $(node.icons.default[0]).addClass(node.icons.default[1]).addClass('node-icon');
                                $title.prepend(iconDefault);
                            }

                            // prepend the `open` icon
                            if (node.icons.open) {
                                if (iconDefault) iconDefault.addClass('closed-icon');
                                $title.prepend(
                                    $(node.icons.open[0]).addClass(node.icons.open[1]).addClass('opened-icon').addClass('node-icon')
                                );
                            }
                        }
                    }
                });


                var _highlightNode = function (node) {
                    var className = node.children.length > 0 ? 'bgc-success-l2' : 'bgc-primary-l2';
                    var el = node.element.querySelector('* > .jqtree-element');

                    className = "bg-white";
                    el.classList.add(className);
                    //el.classList.remove('bgc-h-warning-l3');
                }
                var _unhighlightNode = function (node) {
                    var el = node.element.querySelector('* > .jqtree-element')

                    //console.log('unhightlight');

                    el.classList.remove('bgc-primary-l2').remove('bgc-h-warning-l3');
                    //el.classList.remove('bgc-h-warning-l3');

                    //el.classList.remove('bgc-success-l2');
                    //el.classList.remove('bgc-primary-l2');
                    //el.classList.add('bgc-h-warning-l3');
                }


                var _lastContextMenu = null, _lastDropdownItem = null;
                var _hideContextMenu = function (menu) {
                    $(menu.parentNode).removeClass('dropdown dd-backdrop dd-backdrop-none-md');
                    $(menu).next().remove();
                    $(menu).dropdown('dispose').remove();
                    _lastContextMenu = null;
                    _lastDropdownItem = null;
                }

                fileTree.on('tree.click', function (e) {
                    // Disable single selection
                    e.preventDefault();


                    $(this).tree('toggle', e.node);


                    //$(this).addClass("text-info");
                    $('.navbar-search-input').data('folder', "別人與我分享");

                    loadWebContent(e.node.path, "別人與我分享");

                    //console.log(e.node.name);
                    //alert(e.node.name);

                    if (_lastContextMenu != null) return;


                    var selectedNode = e.node;

                    if (selectedNode.id === undefined) {
                        //console.warn('The multiple selection functions require that nodes have an id');
                        return;
                    }

                    if (fileTree.tree('isNodeSelected', selectedNode)) {
                        fileTree.tree('removeFromSelection', selectedNode);
                        //_unhighlightNode(selectedNode);
                        //console.log(selectedNode);
                    } else {
                        fileTree.tree('addToSelection', selectedNode);
                        _highlightNode(selectedNode);
                    }
                })
                    .on('tree.contextmenu',
                        function (event) {
                            if (_lastContextMenu != null) {
                                if (event.node.element == _lastDropdownItem) return;//dropdown already shown
                                _hideContextMenu(_lastContextMenu);//hide previous dropdown
                            }

                            _lastDropdownItem = event.node.element;

                            var item = event.node.element.querySelector('.jqtree-title');
                            $(item).addClass('dropdown dd-backdrop dd-backdrop-none-md').append(
                                '<a href="#" class="d-none" data-toggle="dropdown">&nbsp;</a>\
                                  <div class="dropdown-menu dropdown-caret radius-1 border-b-2 \
                                     shadow-sm brc-default-m2 dd-slide-up dd-slide-none-md"><div class="dropdown-inner">\
                                 <div class="d-md-none dropdown-title px-0 text-secondary-d3">'+ event.node.name + '</div>\
                                 <div class="d-md-none dropdown-divider"></div>\
                                 <a href="#" class="dropdown-item btn-rename" data-node="'+ event.node.path + '">\
                                    <i class= "fa fa-edit text-blue mr-1 w-2 " ></i > Rename\
                                 </a >\
                                 <a href="#" class="dropdown-item">\
                                    <i class= "fa fa-trash-alt text-danger  mr-1 w-2" >\
                                    </i > Delete \
                                 </a >\
                                 <a href="#" class="dropdown-item">\
                                    <i class= "fa fa-trash-alt text-success  mr-1 w-2" >\
                                    </i > Move \
                                 </a >\
                                 <a href="#" class="dropdown-item">\
                                    <i class= "fa fa-trash-alt text-warning  mr-1 w-2" >\
                                    </i > New Folder \
                                 </a >\
                                 </div></div>');

                            //console.log(event.node);

                            $('.btn-rename').on('click', function (e) {

                                var node = $(this).data('node');

                                console.log(node);
                                //alert(node);
                            });


                            _lastContextMenu = item.querySelector('[data-toggle=dropdown]');
                            $(_lastContextMenu.nextElementSibling).on('click', function (e) {
                                //e.stopImmediatePropagation();//so that node doesn't get selected
                                $(_lastContextMenu).dropdown('hide');//so that dropdown gets hidden
                            });
                            $(_lastContextMenu).dropdown('show').parent().one('hide.bs.dropdown', function (e) {
                                _hideContextMenu(this.querySelector('[data-toggle=dropdown]'));
                            });
                        }
                    );
            });

        }

        function reloadTree3() {

            var url = "../data/GetTreeData3";

            $.get(url, function (e) {
                var data = jQuery.parseJSON(e);
                var new_data = [];
                new_data.push(data);
                $('.id-jqtree-files3').tree('loadData', new_data);
            })
        };

        function bindCreateFolderButton() {
            //create folder
            $('.btn-create-folder').unbind('click');
            $('.btn-create-folder').on('click', function () {
                var foldername = $('#createfoldername').val().trim();

                if (foldername == '') {

                    popupTooltip($('#createfoldername'), '請輸入名稱');
                    return;
                }
                var path = $('.web-content').data('current');

                createDirectory(path, foldername);

                $('#createDirectoryModal').modal('hide');
            });

        }

        function loadWebContent(path,type) {


                    var url = "";
                    if (type == "別人與我分享") {
                        url = "@Url.Content("~/data/GetFolderDetail/1")";
                    } else {
                        url = "@Url.Content("~/data/GetFolderDetail/0")";
                    }

                    var postobj = {
                         path:path,
                    }

                    $.post(url, postobj ,function (e) {
                        $('.web-content').html(e);

                        $('.web-content').data('current', path);


                        var folder=$('.navbar-search-input').data('folder');

                        $('.web-content .currentroot').html(folder);



                        //reload search bar
                        reloaddatatable();

                        $('[data-toggle="tooltip"]').tooltip();


                        $('.breadcrumbb a').on('click', function () {
                            var path = $(this).data('path');

                            var type=$('.navbar-search-input').data('folder');

                            loadWebContent(path,type);
                        });

                        bindfilerow();


                        $('.btn-file-del').on('click', function (e) {

                            e.preventDefault();
                            var name = $(this).data("name");
                            var title = "刪除 " + name + "?";
                            var type = $(this).data('type');
                            var path = $('.web-content').data('current');
                            swal({
                                title: title,
                                text: "確定刪除嗎?",
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonClass: 'btn btn-success',
                                cancelButtonClass: 'btn btn-danger',
                                confirmButtonText: 'Yes!',
                                buttonsStyling: false,
                                dangerMode: true,
                            }).then(function (isConfirm) {

                                if (isConfirm.value) {

                                    if (type == "File") {
                                        deleteFile(path,name);
                                    }

                                    if (type == "Directory") {

                                        loadingPrepare();

                                        deleteDirectory(path, name, function () {
                                            loadingComplete();
                                        });
                                    }

                                    //location = "@Url.Content("~/AdminFile/deletfile")/"+id;
                                }
                            });

                        });

                        $('.btn-upload').on('click', function (e) {
                            $('#exampleModal').modal({
                                    backdrop: 'static',
                                    keyboard: false
                            })

                            var path = $('.web-content').data('current');

                            $('#uploadpath').val(path);
                        });

                        //open foler modal
                        $('.btn-createfolder-openmodal').on('click', function () {

                            $('#createDirectoryModal').modal({
                                backdrop: 'static',
                                keyboard: false
                            })

                        });

                        //create folder
                        bindCreateFolderButton();


                        //open move modal
                        $('.btn-movefolder-openmodal').on('click', function () {
                            $('#moveModal').modal({
                                backdrop: 'static',
                                keyboard: false
                            })

                        });


                        //open share modal
                        $('.btn-sharefolder-openmodal').unbind('click');

                        $('.btn-sharefolder-openmodal').on('click', function () {
                            $('#shareModal').modal({
                                backdrop: 'static',
                                keyboard: false
                            })
                        });

                        //move folder要用的
                        var targetpath = $('#currentbreadcrumbpath').data('path');
                        $('#targetename').val(targetpath);


                        $('#targetename').data('realpath', path);



                    });
        };


        function protectButton() {

            $('#uploadImage').attr('disabled', true);
            //$('#submitButton').attr('disabled', true);
            $('.close').attr('disabled', true);

        }

        function releaseButton() {

            $('#uploadImage').attr('disabled', false);
            //$('#submitButton').attr('disabled', false);
            $('.close').attr('disabled', false);

        }

        function closeAndReload() {
            location.reload();
        }

        function resetInput() {

            $('#uploadImage').val('');

            Total = 0;

            $('.file_lists').html("");

            $('#outputImage').removeClass("text-warning").addClass("text-success").removeClass("text-danger").text('');
            $(".progress-modal .progress-bar").attr('style', "width:0%");
            $(".progress-modal .progress-bar").text('0%');

            $('.progress-modal .btn-down-close').addClass("in-active").removeClass("active");

        }

        function btndashboardloadmore() {
            $('.btn-dashboard-load-more').unbind('click');
            $('.btn-dashboard-load-more').on('click',function(){

                var top = $('.dashboard-share-content').data('top');

                $('.dashboard-share-content').data('top', top + 5);

                loadDashboardShardWebContent();


            })
        }

        function loadMemberOption() {

            var optionurl = "../data/GetPartialMemberOption";

            $('.select-content').load(optionurl, function () {

                $(".select-member").chosen();
                $('.chosen-container').css("width", "840px").addClass("w-100");


                $('.btn-add-member').unbind('click');
                $('.btn-add-member').on('click', function () {

                    var newmembers = [];

                    $('.select-member :selected').each(function () {
                        var empno = $(this).val();
                        newmembers.push({
                            name:empno,
                        });
                        $('.select-member :selected').remove($(this));
                    });

                    var iddoc = $('.sharemember-list').data('iddoc');

                    var addmemberurl = "@Url.Content("~/data/UpdateShareMember")" + "/" + iddoc;


                    console.log(addmemberurl);

                    var postjson = JSON.stringify(newmembers);

                    var postobj = {
                        content: postjson
                    };

                    $.post(addmemberurl, postobj, function (e) {

                        var abpath = $('.web-content').data('current');

                        loadShareMember(abpath);
                        $('.search-choice').remove();



                    }).fail(function () {


                    });

                });

            });

        }


        function loadDeptOption() {

            var optiondepturl = "@Url.Content("~/data/GetPartialDeptOption")";

            $('.select-dept-content').load(optiondepturl, function () {

                $(".select-dept").chosen();
                $('.chosen-container').css("width", "840px").addClass("w-100");

                $('.btn-add-deptno').unbind('click');
                $('.btn-add-deptno').on('click', function () {

                    var newmembers = [];

                    $('.select-dept :selected').each(function () {
                        var empno = $(this).val();
                        newmembers.push({
                            name:empno,
                        });
                        $('.select-dept :selected').remove($(this));
                    });

                    var iddoc = $('.sharedept-list').data('iddoc');

                    var addmemberurl = "@Url.Content("~/data/UpdateShareDept")" + "/" + iddoc;

                    var postjson = JSON.stringify(newmembers);

                    var postobj = {
                        content: postjson
                    };


                    $.post(addmemberurl, postobj, function (e) {

                        var abpath = $('.web-content').data('current');

                        loadShareDept(abpath);
                        $('.search-choice').remove();

                    }).fail(function () {

                    });

                });

            });

        }


        $(function () {

            //load dashboard share to me
            loadDashboardShardWebContent();

            //我的雲端硬碟
            reloadMyFolder();

            //我與別人共享
            reloadMyFolder2();

            //別人與我分享
            reloadMyFolder3();

            $('.modal-dialog').draggable({
                handle: ".modal-header"
            });


            $('#submitButton').click(function (e) {

                        var d1 = new Date();

                        $('#outputImage').removeClass("text-warning").addClass("text-success").removeClass("text-danger").text('');

                        var percent1 = 0;
                        $('#uploadForm').ajaxForm({
                            target: '#outputImage',
                            url: "@Url.Content("~/data/uploadfile")",
                            beforeSubmit: function () {


                                        $("#outputImage").hide();

                                        if ($("#uploadImage").val() == "") {
                                            $("#outputImage").show();
                                            $("#outputImage").html("<div class='error'>Choose a file to upload.</div>");

                                            return false;
                                        }
                                         protectButton();
                                        $("#progressDivId").css("display", "block");
                                        var percentValue = '0%';

                                        $('#progressBar').width(percentValue);
                                        $('#percent').html(percentValue);
                            },
                            uploadProgress: function (event, position, total, percentComplete) {

                                var percentValue = percentComplete + '%';
                                $("#progressBar").animate({
                                    width: '' + percentValue + ''
                                }, {
                                    duration: 1800000,
                                    easing: "linear",
                                    step: function (x) {
                                        percentText = Math.round(x * 100 / percentComplete);

                                        if (percentText >= percent1) {

                                            $(".progress-modal .progress-bar").attr('style', "width:" + percent1 + "%");
                                            $(".progress-modal .progress-bar").text(percent1 + '%');

                                            if (percent1 == "100") {
                                                $(".progress-modal .progress-bar").attr('style', "width:100%");
                                                $("#outputImage").show();
                                                releaseButton();
                                                $('.btn-down-close').removeClass("in-active").addClass("active");
                                            }

                                            percent1 = percentText;

                                            var diff = Math.abs(new Date() - d1);
                                            var minutes = Math.floor((diff / 1000) /60);
                                            $('#minutes').text(minutes)
                                        }

                                    }
                                });
                            },
                            error: function (response, status, e) {
                                alert('Oops something went.');
                                releaseButton();
                            },

                            complete: function (xhr) {
                                //releaseButton();
                                if (xhr.responseText && xhr.responseText != "error") {
                                    $("#outputImage").html(xhr.responseText);

                                    $(".progress-modal .progress-bar").attr('style', "width:100%");
                                    $(".progress-modal .progress-bar").text('100%');
                                    $("#outputImage").show();
                                    releaseButton();
                                    $('.btn-down-close').removeClass("in-active").addClass("active");
                                    percent1 = 100;
                                }
                                else {

                                    $("#outputImage").show();
                                    $("#outputImage").html("<div class='error'>Problem in uploading file.</div>");
                                    $("#progressBar").stop();
                                }

                                setTimeout(function () {

                                    $('#exampleModal').modal('hide');

                                    var path = $('.web-content').data('current');

                                    var type = $('.navbar-search-input').data('folder');

                                    loadWebContent(path, type);

                                }, 2000);
                            }
                            });
             });


            $('#uploadImage').click(function (e) {

                resetInput();

            });


            var Total = 0;

            $('#uploadImage').change(function (e) {

                $.each(e.target.files, function (i, file) {

                    var filesize = Math.round(file.size / 1024);
                    Total = Total + filesize;
                    $('.file_lists').append("<li> <span>" + file.name + "</span>  <span>size: " + filesize + "KB</span></li>");
                    // console.log(file.name);
                });

                if (Total > 30000) {
                    $('#outputImage').removeClass("text-success").addClass("text-danger").text('共' + Total + 'KB 超出單次上傳30MB限制 請分批進行上傳');
                    $('#submitButton').attr('disabled', 'disabled');

                } else {

                    $('#outputImage').removeClass("text-success").removeClass("text-danger").addClass("text-warning").text('檔案共' + Total + 'KB');
                }

            });


            $('.btn-move-folder').unbind('click');
            //move folder
            $('.btn-move-folder').on('click', function () {

                var source = $('#sourcename').data('realpath');

                var target = $('#targetename').data('realpath');

                console.log(source);
                console.log(target);
            });


            $('#exampleModal').on('show.bs.modal', function (e) {
                resetInput();
            });

            $('#exampleModal').on('hidden.bs.modal', function (e) {
                var path = $('.web-content').data('current');

                var type = $('.navbar-search-input').data('folder');

                loadWebContent(path, type);

                $('#submitButton').attr('disabled', false);

                loadDashboardShardWebContent();

            });


            $('#createDirectoryModal').on('shown.bs.modal', function (e) {
                $('#createfoldername').val('');
                $('#createfoldername').focus();
            });

            $('#moveModal').on('shown.bs.modal', function (e) {

                var path = $('#currentbreadcrumbpath').data('path');
                $('#sourcename').val(path);

                var realpath = $('.web-content').data('current');

                $('#sourcename').data('realpath', realpath);
            });

            $('#shareModal').on('show.bs.modal', function (e) {

                var path = $('#currentbreadcrumbpath').data('path');
                $(this).data('path', path);
                $('#sharesourcename').val(path);

                var abpath = $('.web-content').data('current');
                $('#sharesourcename').data('realpath', abpath);

                loadMemberOption();

                loadDeptOption();

                loadShareSetting(abpath);

                loadShareMember(abpath);

                loadShareDept(abpath);
            });

            $('#shareModal').on('hidden.bs.modal', function (e) {
                //reset chosn
                $('.search-choice').remove();
                //reset chosen
                $(".select-member").val('').trigger("chosen:updated");

                $('.setting-content').removeClass("show");

                reloadTree2();

            });

            reloadTree2();

            $('#createfoldername').on('keypress', function (e) {

                code = (e.keyCode ? e.keyCode : e.which);

                if (code == 13) {


                    $('.btn-create-folder').trigger('click');

                };
            });

            loadMemberOption();

            loadDeptOption();

            $('.navbar-search-input').on('click', function (e) {

                e.stopPropagation();
                e.preventDefault();

                $('.btn-Mega').trigger('click');
            });


            drawPieChare();


            $("table").resizableColumns({
                //store: window.store
            });




        })
    </script>

}