.body-container {
    background-image: linear-gradient(#6baace, #2233);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.carousel-item > div {
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

/* these make sure in mobile devices, tab panes are not the same height (for example 'forgot' pane is not as tall as 'signup' page) */
@media (max-width: 767.98px) {
   .tab-sliding .tab-pane:not(.active) {
      max-height: 0 !important;
   }
   .tab-sliding .tab-pane.active {
      min-height: 90vh;
      max-height: none !important;
   }
}