﻿@using dalmirleCloudCore.Meta;
@model IEnumerable<zp_get_dashboard_get_files_Result>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (Model.Count() == 0)
{
    <div class="container-fluid">
        <div class="row justify-container-center">
            <div class="col-12 text-center">

                <span class="font-weight-bold"> no data found </span>

            </div>
        </div>
        
    </div>
}
else
{

    <table class="table card mt-1 table-borderless">
        <thead>
            <tr>
                <td width="3%"></td>
                <td>filename</td>
                <td width="3%">create by</td>
                <td width="3%">dt_create</td>
                <td width="3%">action</td>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {

                <tr data-type="Directory" data-path="@item.absolutepath">
                    <td width="3%">
                        <i class='fa fa-file text-blue-d2'></i>
                    </td>
                    <td class="overflow-elipse">
                        @item.filename
                    </td>

                    <td width="3%">
                        @item.create_by
                    </td>
                    <td width="3%">
                        @item.dt_create.ToShortDateString()

                    </td>
                    <td width="3%" class="data-row">
                        <button type="button" rel="tooltip" 
                                 data-abpath="@item.absolutepath"
                                class="btn btn-success btn-icon btn-sm btn-goto data-row">
                            <i class="far fa-eye"></i>
                        </button>
                    </td>
                </tr>
            }

        </tbody>
    </table>



}

