﻿@using dalmirleCloudCore.Models;
@model IEnumerable<VwMember>

    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
    @{
    }

<select multiple id="form-field-chosen-2" class="w-100 chosen-select select-member form-control">

    @foreach (var item in Model)
    {
        <option value='@item.EmpEname'>@item.Key</option>

    }
</select>

