﻿@using dalmirleCloudCore.Meta;
@model IEnumerable<zp_get_mangers_list_Result>

@{
}

<div class="card manager-list">
    <div class="card-header">
        <div class="container-fluid ml-0 pl-0">
            <div class="row justify-content-start">
                <div class="col-4 ml-0 pl-0">
                    <div class="member-search-content">

                    </div>
                </div>
                <div class="col-2 ml-0 pl-0">
                    <button type="button" id="id-nav-post-btn" class="btn btn-outline-grey btn-h-outline-green btn-h-text-grey btn-a-outline-green btn btn-bold btn-brc-tp btn-sm mx-lg-0 mr-2 btn-add-manager" href="#">
                        <i class="bgc-green radius-round w-3 h-3 text-center fa fa-plus mr-lg-1 text-white pt-15 text-95"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="card-body m-0 p-0">

        <table class="table table-border-y text-dark-m2 text-95 border-y-1 brc-secondary-l1 manager-list-table">
            <thead>
                <tr>
                    <th>Action</th>
                    <th class="border-0">empcname</th>
                    <th class="border-0 bgc-h-default-l3">empename</th>
                    <th class="border-0 bgc-h-default-l3">empno</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="#" class="text-danger-m1 mx-2px btn-del-manager px-1"
                               data-id="@item.id_UserAccount">
                                <i class="fa fa-trash-alt fa-2x text-105"></i>
                            </a>
                        </td>
                        <td>@item.emp_cname</td>
                        <td>@item.emp_ename</td>
                        <td>@item.emp_no</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<script>
    $(function (){


    }
</script>

