﻿@using dalmirleCloudCore.Meta;
@model List<DirectoryFile>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string path = (String)ViewBag.path;
    string root = (String)ViewBag.rootpath;
    string relativepath = "";
    List<FileData> breadcrumb = (List<FileData>)ViewBag.breadcrumb;
    int breadcrumbcount = 0;
    string badgeclass = "";

    string hideclass = "";

    string targetclass = "";

    string breadcrumbpath = "";

    //string drivetype=(string)ViewBag.drivetype;

}
<style>
    .file-row {
        cursor: pointer;
    }

    .hide {
        visibility: hidden;
    }

    td {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }



    .pdfobject-container {
        height: 80vh;
        border: 1rem solid rgba(0,0,0,.1);
    }

</style>
<div class="page-header">
    <div class="page-title text-primary-d2 text-125">
        <span class="currentroot"></span>

        <small class="page-info text-secondary-d2">
            <i class="fa fa-angle-double-right text-80"></i>

            @if (breadcrumb.Count() > 5)
            {
                <span class="breadcrumbb text-110">
                    @if (@breadcrumb[breadcrumb.Count - 1].name.Equals("clouddata"))
                    {
                        <span>/</span>
                        breadcrumbpath = breadcrumbpath + "/";
                    }
                    else
                    {
                        <a href="#" class="badge badge-info badge-lg  arrowed-right"
                           data-path="@breadcrumb[0].path">
                            @breadcrumb[0].name
                        </a>

                        breadcrumbpath = breadcrumbpath + @breadcrumb[0].name + "/";
                    }


                </span>

                @if (@breadcrumb[breadcrumb.Count - 1].name.Equals("clouddata"))
                {
                    <span>....</span>
                }
                else
                {

                    <span class="font-weight-bold breadcrumbb text-110">
                        <a href="#"
                           class="badge badge-info badge-success  arrowed-in-left"
                           data-path="@breadcrumb[breadcrumb.Count-2].path">
                            ....
                        </a>
                    </span>
                }


                <span class="font-weight-bold breadcrumbb text-110">
                    <a href="#"
                       class="badge badge-info badge-lg  arrowed-right"
                       data-path="@breadcrumb[breadcrumb.Count-1].path">
                        @breadcrumb[breadcrumb.Count - 1].name
                    </a>
                </span>

                breadcrumbpath = breadcrumbpath + @breadcrumb[breadcrumb.Count - 1].name + "/";

            }
            else
            {
                foreach (var item in breadcrumb)
                {
                    if (breadcrumbcount % 4 == 0)
                    {
                        badgeclass = "badge-info";
                    }
                    else if (breadcrumbcount % 4 == 1)
                    {
                        badgeclass = "badge-success";
                    }
                    else if (breadcrumbcount % 4 == 2)
                    {
                        badgeclass = "badge-warning";
                    }
                    else
                    {
                        badgeclass = "badge-danger";
                    }

                    if (@breadcrumbcount == breadcrumb.Count - 1)
                    {
                        <span class="font-weight-bold breadcrumbb text-110">
                            <a class="badge @badgeclass badge-lg  arrowed-right"
                               href="#" data-path="@item.path">
                                @item.name
                            </a>
                        </span>

                        breadcrumbpath = breadcrumbpath + item.name + "/";

                    }
                    else
                    {
                        <span class="breadcrumbb text-110 ">
                            <a class="badge @badgeclass badge-lg  arrowed-in-left"
                               href='#' data-path="@item.path">
                                @item.name
                            </a>
                        </span>

                        breadcrumbpath = breadcrumbpath + item.name + "/";
                    }

                    breadcrumbcount++;
                }
            }



        </small>
    </div>

    <div class="page-tools">
        @*<button type="button" class="btn btn-sm btn-lighter-default btn-h-lighter-purple btn-a-lighter-purple border-b-2">
                <i class="fa fa-save text-120 text-purple-m1"></i>
            </button>
            <button type="button" class="btn btn-sm btn-lighter-default btn-h-lighter-success btn-a-lighter-success border-b-2">
                <i class="fa fa-undo text-110 text-success-m1"></i>
            </button>

            <div class="btn-group dropdown dd-backdrop dd-backdrop-none-md">
                <button type="button" class="btn btn-sm btn-lighter-info btn-a-outline-info dropdown-toggle border-b-2" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-search text-110"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-caret dropdown-animated animated-2 dd-slide-up dd-slide-none-md">
                    <div class="dropdown-inner">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            </div>*@
    </div>
</div>

<div id="currentbreadcrumbpath" data-path="@breadcrumbpath"></div>

<div class="table-responsive-md">
    <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-12 col-sm-6 m-0 p-0">
                <div class="dataTables_length text-left w-auto" id="datatable_length">

                    <div>
                        <span>目前目錄</span> / <span class="font-weight-bold">@breadcrumb[breadcrumb.Count - 1].name</span>
                    </div>


                </div>
            </div>
            <div class="col-12 col-sm-6 text-right table-tools-col">
                <div class="dt-buttons btn-group bgc-white-tp2 text-right w-auto">

                    <div class="btn-group">
                        <button class="btn buttons-collection
                                btn-upload
                                dropdown-toggle buttons-colvis btn-sm btn-outline-info btn-h-outline-primary btn-a-outline-primary"
                                tabindex="0"
                                aria-controls="datatable"
                                type="button"
                                aria-haspopup="true"
                                aria-expanded="false"
                                data-toggle="tooltip" data-placement="bottom" title="檔案上傳">
                            <span>
                                <i class="fas fa-cloud-upload-alt fa-lg text-info-m2"></i>

                            </span>
                        </button>
                    </div>
                    <button class="btn btn-createfolder-openmodal buttons-copy buttons-html5 btn-sm btn-outline-info btn-h-outline-primary btn-a-outline-primary"
                            tabindex="0"
                            aria-controls="datatable"
                            type="button" data-toggle="tooltip" data-placement="bottom" title="創建資料夾">
                        <span>
                            <i class="fas fa-folder-plus fa-lg text-orange-m2"></i>
                        </span>
                    </button>

                    @*<button class="btn btn-movefolder-openmodal buttons-csv buttons-html5 btn-sm btn-outline-info btn-h-outline-primary btn-a-outline-primary" tabindex="0" aria-controls="datatable" type="button"
                                data-toggle="tooltip" data-placement="bottom" title="移動資料夾">
                            <span>
                                <i class="fas fa-expand-arrows-alt  fa-lg text-success-m2"></i>
                            </span>
                        </button>*@

                    <button class="btn btn-sharefolder-openmodal buttons-print btn-sm btn-outline-info btn-h-outline-primary" tabindex="0" aria-controls="datatable" type="button" data-toggle="tooltip"
                            data-placement="bottom" title="資料共享">
                        <span>
                            <i class="fas fa-share-alt fa-lg text-blue-m2"></i>
                        </span>
                    </button>

                </div>
            </div>
        </div><div class="row">
            <div class="col-12">
                <table id="datatable" class="table table-border-y text-dark-m2 text-95 border-y-1 brc-secondary-l1 dataTable no-footer" role="grid" aria-describedby="datatable_info">
                    <thead class="text-secondary-m2 text-uppercase text-85">

                        <tr>
                            <td>
                                檔案類型
                            </td>
                            <td>
                                名稱
                            </td>
                            <td>
                                上傳時間
                            </td>
                            <td>
                                更新時間
                            </td>
                            <td>
                                檔案大小(MB)
                            </td>
                            <td>
                                擁有者
                            </td>
                            <td>
                                動作
                            </td>
                        </tr>


                    </thead>
                    <tbody>
                        <tr class="ul_Target1" 
                            data-name="@breadcrumb[breadcrumb.Count-2].name"
                            data-path="@breadcrumb[breadcrumb.Count-2].path">
                            <td class="breadcrumbb">
                                @if (!@breadcrumb[breadcrumb.Count - 1].name.Equals("clouddata"))
                                {
                                    <a data-path="@breadcrumb[breadcrumb.Count-2].path"
                                       href='#'>
                                        ...回上層
                                    </a>
                                }
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>


                        @if (Model.Count == 0)
                        {
                            <tr>
                                <td colspan="7" align="center">
                                    <span> Nonthing... </span>
                                </td>
                            </tr>
                        }

                        @foreach (var item in Model)
                        {
                            hideclass = "";
                            relativepath = "";
                            targetclass = "";

                            //if (item.Filetype == Filetype.File)
                            //{
                            //    relativepath = item.Path.Replace(root, "../");
                            //    targetclass = "sourceItem";
                            //}
                            //else
                            //{
                            //    targetclass = "ul_Target1";
                            //}

                            if (item.Filetype == Filetype.File)
                            {
                                relativepath = item.Path.Replace(root, "../");
                                targetclass = "sourceItem";
                            }

                            if (item.Filetype == Filetype.Directory)
                            {
                                targetclass = "sourceItem ul_Target1";
                            }



                            <tr class=" d-style odd bgc-h-default-l4 @targetclass"
                                data-name="@item.Name"
                                data-path="@item.Path" 
                                data-type="@item.Filetype">
                                <td class="text-grey file-row" width="3%">
                                    @if (item.Filetype == Filetype.Directory)
                                    {
                                        <i class='fa fa-folder text-orange-d2 fa-lg'></i>
                                    }
                                    else
                                    {
                                        if (item.Extension.ToLower() == ".pdf")
                                        {
                                            <i class='fas fa-file-pdf text-danger-d2 fa-lg'></i>
                                        }
                                        else if (item.Extension.ToLower().Contains("pdf") ||
                                            item.Extension.ToLower().Contains("png") ||
                                            item.Extension.ToLower().Contains("jpg") ||
                                            item.Extension.ToLower().Contains("jpeg") ||
                                            item.Extension.ToLower().Contains("bmp"))
                                        {

                                            <i class='fas fa-file-image text-info-d2 fa-lg'></i>

                                        }
                                        else if (item.Extension.ToLower().Contains("xls") ||
                                            item.Extension.ToLower().Contains("csv") ||
                                           item.Extension.ToLower().Contains("xlsx"))
                                        {
                                            <i class='fas fa-file-excel text-success-d2 fa-lg'></i>
                                        }
                                        else if (item.Extension.ToLower().Contains("doc") ||
                                           item.Extension.ToLower().Contains("docx"))
                                        {
                                            <i class='fas fa-file-word text-blue-d2 fa-lg'></i>
                                        }
                                        else if (item.Extension.ToLower().Contains("ppt") ||
                                          item.Extension.ToLower().Contains("pptx"))
                                        {
                                            <i class='fas fa-file-powerpoint text-orange-d3 fa-lg'></i>
                                        }
                                        else
                                        {
                                            <i class='fa fa-file text-blue-d2 fa-lg'></i>
                                        }
                                    }
                                </td>

                                <td width="20%"
                                    class="text-grey file-row">
                                    @if (item.Filetype == Filetype.File)
                                    {
                                        <a href="@relativepath" style="color: #6e7074;"
                                           class="btn-file-download font-weight-normal  px-1"
                                           data-filename="@item.Name"
                                           data-path="@item.Path">@item.Name</a>

                                    }
                                    else
                                    {
                                        @item.Name
                                    }
                                </td>
                                <td width="10%" class="text-grey file-row">@item.CreateTime</td>
                                <td width="10%" class="text-grey file-row">@item.UpdateTime</td>
                                <td width="10%" class="text-grey file-row">@item.Size</td>
                                <td width="10%"></td>
                                <td width="10%" class="text-right">

                                    @if (item.Filetype == Filetype.Directory)
                                    {
                                        hideclass = "hide";
                                    }

                                    @if (item.Extension.ToLower().Contains("pdf") ||
                                item.Extension.ToLower().Contains("png") ||
                                item.Extension.ToLower().Contains("ppt") ||
                                item.Extension.ToLower().Contains("pptx") ||
                                item.Extension.ToLower().Contains("doc") ||
                                item.Extension.ToLower().Contains("docx") ||
                                item.Extension.ToLower().Contains("xls") ||
                                item.Extension.ToLower().Contains("xlsx") ||
                                item.Extension.ToLower().Contains("jpg") ||
                                item.Extension.ToLower().Contains("jpeg") ||
                                item.Extension.ToLower().Contains("bmp"))
                                    {
                                        <a href="#" target="_blank"
                                           class="text-warning-m1 mx-2px
                                                    btn-view @hideclass px-1"
                                           data-path="@item.Path"
                                           data-relativepath="@relativepath"
                                           data-extension="@item.Extension"
                                           style="z-index:1000;">

                                            <i class="fas fa-eye fa-2x text-105"></i>
                                        </a>
                                    }

                                    <a href="@relativepath" target="_blank" download=""
                                       class="text-blue-m1 mx-2px
                                       btn-file-download @hideclass px-1"
                                       data-path="@item.Path"
                                       style="z-index:1000;"
                                       data-filename="@item.Name"
                                       title="檔案下載">

                                        <i class="fas fa-cloud-download-alt fa-2x text-105"></i>
                                    </a>

                                    @if (item.Filetype == Filetype.File)
                                    {

                                        <a href="#" class="text-orange-m1 mx-2px btn-file-edit-modal px-1"
                                           data-name="@item.Name"
                                           data-path="@item.Path"
                                           data-type="@item.Filetype"
                                           style="z-index:2000;">

                                            <i class="fas fa-edit text-105"></i>
                                        </a>
                                    }

                                    @if (item.Filetype == Filetype.Directory)
                                    {

                                        <a href="#" class="text-orange-d1 mx-2px btn-folder-edit-modal px-1"
                                           data-name="@item.Name"
                                           data-path="@item.Path"
                                           data-type="@item.Filetype"
                                           style="z-index:2000;">

                                            <i class="fas fa-edit text-105"></i>
                                        </a>

                                    }


                                    <a href="#" class="text-danger-m1 mx-2px btn-file-del px-1"
                                       data-name="@item.Name"
                                       data-path="@item.Path"
                                       data-type="@item.Filetype"
                                       style="z-index:2000;"
                                       data-toggle="tooltip" data-placement="bottom" title="刪除">

                                        <i class="fa fa-trash-alt fa-2x text-105"></i>
                                    </a>


                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>
<script>
    $(function () {

        $(".ul_Target1").droppable({
            drop: function (event, ui) {

                var targetpath = $(this).data('path');
                var targetname = $(this).data('name');
                var sourcepath = $(ui.draggable).data('path');
                var sourcename = $(ui.draggable).data('name');
                var filetype = $(ui.draggable).data('type');


                if (sourcename == undefined)
                    return;

                var title = "";

                if (filetype == "Directory") {

                    title = '<div class="text-info"> 目錄' + sourcename + " 移動到 " + targetname + '</div>';
                } else {
                    title = '<div class="text-info"> 檔案' + sourcename + " 移動到 " + targetname + '</div>';
                }
                
                swal({
                    title: title,
                    text: "確定移動檔案嗎?",
                    type: 'info',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes!',
                    buttonsStyling: false,
                    dangerMode: true,
                }).then(function (isConfirm) {

                    if (isConfirm.value) {

                        var obj = {
                            targetname: targetname,
                            targetpath: targetpath,
                            sourcename: sourcename,
                            sourcepath: sourcepath,
                        };
                        //var url = "../data/MovieFile";
                        var url = "../data/MovieFile";

                        if (filetype == 'Directory') {

                            url = "../data/MovieDirectory";

                        } else {
                            url = "../data/MovieFile";
                        };



                        $('body').addClass('moving');

                        $.post(url,obj, function (e) {

                            console.log('source:' + sourcepath + "/ target:" + targetpath);
                            $(ui.draggable).remove();

                            setTimeout(function () {


                                $('body').removeClass('moving');


                            }, 2000);

                            console.log(e);
                        }).fail(function (e) {


                            //console.log(e);
                            failMessage(e.responseText, 5000);

                            $('body').removeClass('moving');


                        });

                    };
                });
               
                //return false;
            },
            connectWith: ".sortgroup1",
        });


        $(".sourceItem").draggable({
            revert: true,
            cursor: 'pointer',
            zIndex: '110010',
            connectWith: ".sortgroup1",
            start: function (event, ui) {
                $(this).find('.file-row').addClass('noclick');
            }
        });

    })
</script>