﻿@using dalmirleCloudCore.Meta;
@model IEnumerable<zp_get_sharetome_list_for_dashboard_Result>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    int count = 0;

    int top = (int)ViewBag.top;

    int limit = (Model.Count() > 0) ? Model.FirstOrDefault().limit : 0;
}

@foreach (var item in Model)
{

    <div class="mb-4 text-grey-m1 text-95 py-0" style="border-bottom:1px solid #eee;">

        <div class="d-flex align-items-start">

            @if (count % 4 == 0)
            {
                <span class="d-inline-flex align-items-center justify-content-center radius-round mr-2px bgc-purple-tp1 text-white w-5 h-5">
                    <i class="fa fa-check"></i>
                </span>
            }
            else if (count % 4 == 1)
            {
                <span class="d-inline-flex align-items-center justify-content-center radius-round mr-2px bgc-success-tp1 text-white w-5 h-5">
                    <i class="fa fa-check"></i>
                </span>

            }
            else if (count % 4 == 2)
            {
                <span class="d-inline-flex align-items-center justify-content-center radius-round mr-2px bgc-danger-tp1 text-white w-5 h-5">
                    <i class="fa fa-check"></i>
                </span>
            }
            else
            {
                <span class="d-inline-flex align-items-center justify-content-center radius-round mr-2px bgc-warning-tp1 text-white w-5 h-5">
                    <i class="fa fa-star"></i>
                </span>
            }


            <div class="mx-2">
                <div class="font-bolder text-dark-tp2">
                    @item.docname2
                    @*@item.relativepath.Replace("share/rogerroan/clouddata/", "")*@
                </div>
                <div class="font-italic">created by @item.create_by at @item.dt_create.ToShortDateString()</div>
            </div>



            <div class="text-90 text-secondary-m1 ml-auto text-nowrap ">

                <button class="btn btn-sm btn-light-primary font-bolder
                                                        letter-spacing-1 mb-2px rounded-3 btn-view-detail"
                        data-abpath="@item.absolutepath"
                        data-toggle="collapse"
                        data-target="#collapseExamplea1_@count"
                        aria-expanded="false"
                        aria-controls="collapseExamplea1_@count">
                    view
                </button>

                <button class="btn btn-sm btn-light-warning font-bolder btn-upload-detail
                                                        letter-spacing-1 mb-2px ml-1 rounded-3"
                        data-relpath="@item.absolutepath"
                        >
                    upload
                </button>

            </div>
        </div>



        <div class="collapse" id="collapseExamplea1_@count">
            <div class="card card-body" style="min-height:100px;">

            </div>
        </div>


    </div>

    count = count + 1;

}

@if (count < limit)
{

    <div class="text-center">
        <button type="button" class="btn w-50 btn-sm btn-bold btn-lighter-success btn-dashboard-load-more">View More</button>
    </div>
}
else
{
    @*<div class="text-center">
        <span class="text-success-d3 font-weight-bold">No More Data</span>
    </div>*@
}

