﻿@using dalmirleCloudCore.Meta;
@using dalmirleCloudCore.Models;
@model IEnumerable<zp_get_share_folder_user_list_Result>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var doc = (Document)ViewBag.Document;
    int row = 0;
}


<ul class="sharemember-list col-12 ml-0 pl-0 mt-2"
    data-iddoc="@doc.IdDocument"
    style="list-style:none;height:500px;overflow:scroll;">
    @foreach (var member in Model)
    {
        row = row + 1;
        <li>
            <div class="alert alert-info ml-0 pl-0 text-75">
                <span> @member.emp_cname - @member.emp_ename</span>
                <div class="float-right member-fow" data-iddocacc="@member.id_DocumentAccount">

                    @if (member.allow_upload == 1)
                    {
                        <input id="upload_@row" type="checkbox" data-type="upload" class="ml-1 checkmember" checked />
                    }
                    else
                    {
                        <input id="upload_@row" type="checkbox" data-type="upload" class="ml-1 checkmember" />
                    }
                    <label class="font-weight-bold" for="upload_@row">可上傳</label>

                    @if (member.allow_download == 1)
                    {
                        <input id="download_@row" 
                               class="ml-1 checkmember" data-type="download" type="checkbox" checked />

                    }
                    else
                    {
                        <input id="download_@row" 
                               class="ml-1 checkmember" data-type="download" type="checkbox" />

                    }
                    <label class="font-weight-bold" for="download_@row">可下載</label>

                    @if (member.allow_createfolder == 1)
                    {
                        <input id="folder_@row" 
                               class="ml-1 checkmember" data-type="folder" type="checkbox" checked />
                    }
                    else
                    {
                        <input id="folder_@row" 
                               class="ml-1 checkmember" data-type="folder" type="checkbox" />
                    }
                    <label class="font-weight-bold" for="folder_@row">可建目錄</label>

                    @if (member.allow_delfolder == 1)
                    {
                        <input class="ml-1 checkmember " id="delfolder_@row" 
                               data-type="delfolder" type="checkbox" checked />

                    }
                    else
                    {
                        <input class="ml-1 checkmember "
                               data-type="delfolder" id="delfolder_@row" type="checkbox" />

                    }
                    <label class="font-weight-bold" for="delfolder_@row">可刪除目錄</label>

                    @if (member.allow_delfile == 1)
                    {
                        <input class="ml-1 checkmember " 
                                data-type="delfile"
                               id="delfile_@row" type="checkbox" checked />

                    }
                    else
                    {
                        <input class="ml-1 checkmember"
                                data-type="delfile"
                               id="delfile_@row" type="checkbox" />

                    }
                    <label class="font-weight-bold" for="delfile_@row">可刪除檔案</label>

                    @if (member.allow_share == 1)
                    {
                        <input class="ml-1 checkmember" 
                                data-type="share"
                               id="share_@row" type="checkbox" checked />
                    }
                    else
                    {
                        <input class="ml-1 checkmember"
                               data-type="share"
                               id="share_@row" type="checkbox" />

                    }
                    <label class="font-weight-bold" for="share_@row">可分享</label>


                    <a href="#" class="text-danger-m1 mx-2px btn-delsharemember pl-0"
                       data-id="@member.id_DocumentAccount"
                       data-name="@member.emp_cname"
                       style="float:right;">
                        <i class="fa fa-trash-alt text-105"></i>
                    </a>
                </div>
            </div>

        </li>
    }

</ul>
<script>

    function updatememberauth(obj,type) {

        var updateurl = "@Url.Content("~/data/UpdateShareMemberAuth")";

        var val = obj.prop('checked');
        var id_doc_dept = obj.parent('.member-fow').data('iddocacc');
        var check = 0;

        if (val == true) {
            check = 1;
        } else {
            check = 0;
        }
        var obj = {
            id_doc_acc: id_doc_dept,
            type: type,
            check: check,
        }

        $.post(updateurl, obj, function (e) {

            console.log('ok');

        }).fail(function (e) {

            console.log(e);
        })
    }

    $(function (){

        $('.checkmember').unbind('change');
        $('.checkmember').on('change', function () {

            var type = $(this).data('type');
            updatememberauth($(this), type);

        });

    })
</script>