﻿@using dalmirleCloudCore.Models;
@model Document
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="form-group row m-0 p-0 justify-content-start">

    @if (Model.Autoday == 1)
    {
        <input id="autoday" class="setting-checkbox"
               type="checkbox" data-type="autoday" checked data-iddoc="@Model.IdDocument" />
    }
    else
    {
        <input id="autoday" class="setting-checkbox"
               type="checkbox" data-type="autoday" data-iddoc="@Model.IdDocument" />
    }

    <label for="autoday" class="font-weight-bold text-80">以日期格式整理資料夾     </label>

</div>

<div class="form-group row m-0 p-0 justify-content-start">

    @if (Model.Autoversion == 1)
    {
        <input id="autoversion" class="setting-checkbox"
               type="checkbox" data-type="autoversion" checked data-iddoc="@Model.IdDocument" />
    }
    else
    {
        <input id="autoversion" class="setting-checkbox"
               type="checkbox" data-type="autoversion" data-iddoc="@Model.IdDocument" />
    }

    <label for="autoversion" class="font-weight-bold text-80">檔名加入版次    </label>

</div>


<script>

    function updateSetting(obj, type) {

        var updateurl = "../data/UpdateFolderSetting";

        var val = obj.prop('checked');
        var id_doc_dept = obj.data('iddoc');
        var check = 0;

        if (val == true) {
            check = 1;
        } else {
            check = 0;
        }
        var obj = {
            id_doc: id_doc_dept,
            type: type,
            check: check,
        }

        $.post(updateurl, obj, function (e) {

            console.log('ok');

        }).fail(function (e) {

            console.log(e);
        })
    }


    $(function () {

        $('.setting-checkbox').unbind('change');
        $('.setting-checkbox').on('change', function () {

            var type = $(this).data('type');
            updateSetting($(this), type);

        });

    })
</script>

