﻿@using dalmirleCloudCore.Meta;
@using dalmirleCloudCore.Common;

@model IEnumerable<zp_get_file_datatable_Result>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string Root=(String)ViewBag.Root;
    string abpth = "";
}


<div class="table-responsive-md col-12 w-100 m-0 p-0 card">
    <table id="finddatatable" class="table table-border-y text-dark-m2 text-95 border-y-1 brc-secondary-l1">
        <thead class="text-secondary-m2 text-uppercase text-85">
            <tr>
                <th class="border-0">filename</th>
                <th class="border-0 bgc-h-default-l3">filesize (MB)</th>
                <th class="border-0 bgc-h-default-l3">create date</th>
                <th class="border-0 bgc-h-default-l3">create by</th>
                <th class="border-0 bgc-h-default-l3">document name</th>
                <th class="border-0 bgc-h-default-l3">Path</th>
                <th class="border-0 bgc-h-default-l3">Source</th>
                <th class="border-0 bgc-h-default-l3">keyword</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

             
             abpth = Common.RelativeToAbsolute(Root, item.relativepath);

            
            <tr class="d-style bgc-h-default-l4 file-row2" 
                data-category="@item.category"
                data-path="@abpth" data-type="File" >
                <td class="pos-rel ">
                    @item.filename
                </td>
                <td class="pos-rel ">
                    @item.filesize
                </td>
                <td class="pos-rel ">
                    @item.dt_create
                </td>
                <td class="pos-rel">
                    @item.create_by
                </td>

                <td class="pos-rel">
                    @item.docname
                </td>
                <td class="pos-rel">
                    @item.relativepath
                </td>
                <td>
                    @item.category
                </td>
               <td>
                   @item.keyword
               </td>
            </tr>
            }

            </tbody>
    </table>
</div>