﻿@using dalmirleCloudCore.Meta;
@using dalmirleCloudCore.Models;
@model IEnumerable<zp_get_share_folder_dept_list_Result>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var doc = (Document)ViewBag.Document;
}


<ul class="sharedept-list col-12 ml-0 pl-0 mt-2"
    data-iddoc="@doc.IdDocument"
    style="list-style:none;height:500px;overflow:scroll;">
    @foreach (var member in Model)
    {
        <li>
            <div class="alert alert-info ml-0 pl-0 text-75">
                @member.dept_no  - @member.dept_name
                <div class="float-right member-fow" data-iddocdept="@member.id_DocumentDept">
                    @if (member.allow_upload == 1)
                    {
                        <input id="upload2" type="checkbox" data-type="upload" 
                               class="ml-3 upload2 checkdept" checked />
                    }
                    else
                    {
                        <input id="upload2" type="checkbox" data-type="upload"  
                               class="ml-3 upload2 checkdept"  />
                    }
                    <label class="font-weight-bold" for="upload2">可上傳</label>

                    @if (member.allow_download == 1)
                    {
                        <input id="download2" class="ml-1 download2 checkdept" 
                               data-type="download"  type="checkbox" checked />
                    }
                    else
                    {
                        <input id="download2" class="ml-1 download2 checkdept" 
                               data-type="download" type="checkbox" />

                    }
                    <label class="font-weight-bold" for="download2">可下載</label>

                    @if (member.allow_createfolder == 1)
                    {
                        <input id="folder2" class="ml-1 folder2 checkdept" 
                               data-type="folder" type="checkbox" checked />

                    }
                    else
                    {
                        <input id="folder2" class="ml-1 folder2 checkdept"
                               data-type="folder" type="checkbox" />

                    }
                    <label class="font-weight-bold" for="folder2">可建目錄</label>

                    @if (member.allow_delfolder == 1)
                    {
                        <input class="ml-1 del2folder checkdept"
                               id="del2folder"
                               data-type="delfolder" type="checkbox" checked />

                    }
                    else
                    {
                        <input class="ml-1 del2folder checkdept"
                               id="del2folder" 
                               data-type="delfolder"  type="checkbox" />

                    }
                    <label class="font-weight-bold" for="del2folder">可刪除目錄</label>

                    @if (member.allow_delfile == 1)
                    {
                        <input class="ml-1 del2file checkdept" id="del2file" 
                               data-type="delfile"  type="checkbox" checked />

                    }
                    else
                    {
                        <input class="ml-1 del2file checkdept"
                               id="del2file" 
                               data-type="delfile"  type="checkbox" />

                    }
                    <label class="font-weight-bold" for="del2file">可刪除檔案</label>

                    @if (member.allow_share == 1)
                    {
                        <input class="ml-1 share2 checkdept" 
                               id="share2"  data-type="share"   type="checkbox" checked/>

                    }
                    else
                    {
                        <input class="ml-1 share2 checkdept"
                               id="share2" data-type="share"  type="checkbox" />

                    }
                    <label class="font-weight-bold" for="share2">可分享</label>

                    <a href="#" class="text-danger-m1 mx-2px btn-delsharedept pl-1"
                       data-id="@member.id_DocumentDept"
                       data-name="@member.dept_no"
                       style="float:right;">
                        <i class="fa fa-trash-alt text-105"></i>
                    </a>
                </div>
            </div>

        </li>
    }

</ul>
<script>
    function updatedeptauth(obj,type) {

        var updateurl = "@Url.Content("~/data/UpdateShareDeptAuth")";

        var val = obj.prop('checked');
        var id_doc_dept = obj.parent('.member-fow').data('iddocdept');
        var check = 0;

        if (val == true) {
            check = 1;
        } else {
            check = 0;
        }
        var obj = {
            id_doc_dept: id_doc_dept,
            type: type,
            check: check,
        }

        console.log(obj);

        $.post(updateurl, obj, function (e) {

            console.log('ok');

        }).fail(function (e) {

            console.log(e);
        })
    }

    $(function () {

        $('.checkdept').unbind('change');
        $('.checkdept').on('change', function () {

            var type = $(this).data('type');
            updatedeptauth($(this), type);

        });


    })
</script>