﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Denied</title>
</head>
<body>
    <center style="margin-top:20%;">
        <h1>您無瀏覽此網頁的權限 Forbidden 403!</h1>
        <a href="@Url.Content("~/Login/Info")">回首頁</a>
        <br />
        <a href="@Url.Content("~/Login/Logout")">登出</a>
    </center>
</body>
</html>
