﻿@using dalmirleCloudCore.Meta;
@model LoginRole
@{

    Layout = "";


}


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <base href="../" />

    <title>Login - E-Disk</title>

    <!-- include common vendor stylesheets -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/bootstrap/dist/css/bootstrap.css")">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/@fortawesome/fontawesome-free/css/fontawesome.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/@fortawesome/fontawesome-free/css/regular.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/@fortawesome/fontawesome-free/css/brands.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/@fortawesome/fontawesome-free/css/solid.css")">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/dist/css/ace-font.css")">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/dist/css/ace.css")">

    <link rel="icon" type="image/png" href="assets/favicon.png" />

    <!-- "Login" page styles specific to this page for demo purposes -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/application/views/default/pages/partials/page-login/@page-style1.css")">

    <style>
        body {
        }
    </style>
    <script>
        function IEVersion() {
            var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
            var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1; //判断是否IE<11浏览器
            var isEdge = userAgent.indexOf("Edge") > -1 && !isIE; //判断是否IE的Edge浏览器
            var isIE11 = userAgent.indexOf('Trident') > -1 && userAgent.indexOf("rv:11.0") > -1;
            if (isIE) {
                var reIE = new RegExp("MSIE (\\d+\\.\\d+);");
                reIE.test(userAgent);
                var fIEVersion = parseFloat(RegExp["$1"]);
                if (fIEVersion == 7) {
                    return 7;
                } else if (fIEVersion == 8) {
                    return 8;
                } else if (fIEVersion == 9) {
                    return 9;
                } else if (fIEVersion == 10) {
                    return 10;
                } else {
                    return 6;//IE版本<=7
                }
            } else if (isEdge) {
                return 'edge';//edge
            } else if (isIE11) {
                return 11; //IE11
            } else {
                return -1;//不是ie浏览器
            }
        }

        var ie = IEVersion();

        if (ie != 'edge') {
            if (ie <= 11 && ie > -1) {

                alert('本系統不支援IE,請使用Edge/Chrome/Firefox開啟');
                location.href = "https://eip.mirle.com.tw";
            }
        }


        window.history.forward(1);
    </script>

</head>

<body>
    <div class="body-container">

        <div class="main-container container">

            <div role="main" class="main-content minh-100 justify-content-center">
                <div class="p-2 p-md-4">
                    <div class="row justify-content-center">
                        <div class="shadow radius-1 overflow-hidden bg-white col-12 col-lg-6 offset-lg-0">

                            <div class="row">



                                <div class="col-12 col-lg-12 text-center py-lg-5 bgc-white px-0">
                                    <h2 class="text-info-d1 font-weight-bold">
                                         <span class="text-80 text-dark-tp4">E-Disk</span>
                                    </h2>
                                </div>

                                <div class="col-12 col-lg-12 py-lg-0 bgc-white px-0">

                                    <!-- you can also use tab links -->
                                    <ul class="d-none mt-n4 mb-0 nav nav-tabs nav-tabs-simple justify-content-end" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#id-tab-login" role="tab" aria-controls="login" aria-selected="true">
                                                Login
                                            </a>
                                        </li>
                                        <li class="nav-item">


                                        </li>
                                    </ul>


                                    <div class="tab-content tab-sliding border-0 p-0 mb-5" data-swipe="right">

                                        <div class="tab-pane active show mh-100 px-3 px-lg-0 pb-3" id="id-tab-login">

                                            @using (Html.BeginForm("PostLogin", "Login", FormMethod.Post, htmlAttributes: new { role = "login", id = "form1", @class = "form-row mt-0" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="form-group col-md-6 offset-md-3">
                                                    <div class="d-flex align-items-center input-floating-label text-blue-m1 brc-blue-m2">
                                                        <select name="role" class="form-control" id="role">
                                                            @*<option value="0" selected disabled>請選擇身份</option>*@
                                                            <option value="2" selected>使用者</option>
                                                            <option value="1">管理者</option>
                                                        </select>

                                                    </div>
                                                </div>


                                                <div class="form-group col-md-6 offset-md-3">
                                                    <div class="d-flex align-items-center input-floating-label text-blue-m1 brc-blue-m2">
                                                        <input type="text" class="form-control form-control-lg pr-4 shadow-none" id="username" name="username" required autocomplete="off" />
                                                        <i class="fa fa-user text-grey-m2 ml-n4"></i>
                                                        <label class="floating-label text-grey-l1 text-100 ml-n3" for="id-login-username">Username (不須輸入mirlehq)</label>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-6 offset-md-3 mt-2 mt-md-1">
                                                    <div class="d-flex align-items-center input-floating-label text-blue-m1 brc-blue-m2">
                                                        <input type="password" class="form-control form-control-lg pr-4 shadow-none" id="password" name="password" required autocomplete="off" />
                                                        <i class="fa fa-key text-grey-m2 ml-n4"></i>
                                                        <label class="floating-label text-grey-l1 text-100 ml-n3" for="id-login-password">Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 offset-md-3 text-right text-md-left mt-n2 mb-2">

                                                    <label class="d-inline-block mt-3 mb-0 text-secondary-d2">

                                                        @Html.CheckBoxFor(m => m.isremember, new { @class = "mr-1", id = "id-remember-me" })
                                                        記住我30天
                                                    </label>

                                                    <a href="http://192.168.3.113/mirledc/dc/login" class="ml-5 py-3 text-primary-m2 text-95 float-right" target="_blank">
                                                        Forgot Password?
                                                    </a>
                                                </div>

                                                <div class="form-group col-md-6 offset-md-3">


                                                    <button type="submit"
                                                            class="btn btn-info btn-block btn-md btn-bold mt-2 mb-4 btn-submit">
                                                        Sign In
                                                    </button>
                                                </div>
                                                <div class="form-group col-md-6 offset-md-3">

                                                    <div class="hint text-center" style="color:red;"> @Html.DisplayFor(m => m.hint)</div>

                                                </div>





                                            }


                                        </div>




                                    </div><!-- .tab-content -->
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="d-lg-none my-3 text-white-tp1 text-center">
                        <i class="fa fa-leaf text-success-l3 mr-1 text-110"></i> Mirle Company &copy; 2021
                    </div>
                </div>
            </div><!-- /main -->

        </div><!-- /.main-container -->
        <!-- include common vendor scripts used in demo pages -->
        <script type="text/javascript" src="@Url.Content("~/nodemodules/jquery/dist/jquery.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/nodemodules/popper.js/dist/umd/popper.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/nodemodules/bootstrap/dist/js/bootstrap.js")"></script>


        <!-- include Ace script -->
        <script type="text/javascript" src="@Url.Content("~/dist/js/ace.js")"></script>


        <script type="text/javascript" src="@Url.Content("~/assets/js/demo.js")"></script>
        <!-- this is only for Ace's demo and you don't need it -->
        <!-- "Login" page script to enable its demo functionality -->
        <script type="text/javascript" src="@Url.Content("~/application/views/default/pages/partials/page-login/@page-script.js")"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

    </div><!-- /.body-container -->
    <script>



        $(function () {

            $('#username').focus();

            $('.btn-submit').on('click', function (e) {
                e.preventDefault();

                //var role = $('#role').val();


                $('#form1').validate();

                //if (role == null ) {
                //    alert("請選擇身份");
                //    return;
                //}

                $('#form1').submit();


            });
        });
    </script>
</body>

</html>