﻿@{
    string empname = (string)ViewBag.empname;

    int super = (int)ViewBag.super;

}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <base href="../" />

    <title>E-Disk</title>

    <!-- include common vendor stylesheets -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/bootstrap/dist/css/bootstrap.css")">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/@fortawesome/fontawesome-free/css/fontawesome.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/@fortawesome/fontawesome-free/css/regular.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/@fortawesome/fontawesome-free/css/brands.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/@fortawesome/fontawesome-free/css/solid.css")">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/datatables.net-bs4/css/dataTables.bootstrap4.css")">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/datatables.net-buttons-bs4/css/buttons.bootstrap4.css")">


    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/bootstrap-select/dist/css/bootstrap-select.css")">

        <link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/bootstrap-duallistbox/dist/bootstrap-duallistbox.css")">


        <link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/select2/dist/css/select2.css")">*@
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/chosen-js/chosen.css")">*@

    <!-- include vendor stylesheets used in "Dashboard" page. see "application/views/default/pages/partials/dashboard/@@vendor-stylesheets.hbs" -->

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/nodemodules/jqtree/jqtree.css")">


    <link rel="stylesheet" type="text/css" href="@Url.Content("~/dist/css/ace-font.css")">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/dist/css/ace.css")">

    <link href="https://cdn.jsdelivr.net/npm/busy-load/dist/app.min.css" rel="stylesheet">


    <link rel="icon" type="image/png" href="@Url.Content("~/assets/favicon.png")" />

    <link href="https://cdn.jsdelivr.net/npm/busy-load/dist/app.min.css" rel="stylesheet">

    <link rel="stylesheet" href="@Url.Content("~/css/jquery.resizableColumns.css")">


    <style>
        .swal2-confirm {
            margin-right: 10px;
        }

        .btn-file > input {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            font-size: 23px;
            cursor: pointer;
            filter: alpha(opacity=0);
            opacity: 0;
            direction: ltr;
        }


        .none-active {
            visibility: hidden;
        }

        .load-active {
            visibility: visible;
        }

        .successMessage .dangerMessage {
            position: fixed;
            width: 300px;
            height: 100px;
            bottom: 40%;
            right: 40%;
            z-index: 3;
        }

        .msg-nonactive {
            display: none;
        }

        .swal2-confirm.btn-success {
            margin-right: 10%;
            width: 100%;
        }

        .panel {
            border: dotted 1px black;
        }

        .custom-gauge .wj-pointer path {
            fill: #ffa500;
            stroke: #cd853f;
        }

        .non-active {
            display: none;
        }

        .nav-item:hover {
            cursor: pointer;
        }

        .dropdown-toggle:hover {
            cursor: pointer;
        }

        .gridster {
            width: 1440;
        }

        .table {
            z-index: 100;
        }

        .dropdown-menu {
            z-index: 9999 !important;
        }

        .ui-autocomplete, .ui-menu, .ui-menu-item {
            z-index: 1006 !important;
        }

        .tooltip .tooltip-inner {
            background-color: red;
        }

        .tooltip .arrow::before {
            border-left-color: green;
        }

        .navbar-default {
            background-color: #6f42c1;
        }

        .moving {
            position: relative;
        }

        .moving:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 1%;
            opacity: 0.8;
            background-image: url("../assets/moving.gif");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30%;
        }

        .processing {
            position: relative;
        }

        .processing:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 1%;
            opacity: 0.8;
            background-image: url("../assets/loading.gif");
            background-repeat: no-repeat;
            background-position: center;
            background-size: initial;
        }



        .watermarked {
            position: relative;
        }
         .watermarked:after {
            content: "版權所有 \A       @empname";
            display: block;
            white-space: pre;
            width: 200%;
            height: 10%;
            position: absolute;
            top: 40%;
            left: 35%;
            font-weight: bold;
            font-size: 48px;
            color: pink;
            opacity: 0.7;

        }


        .watermarked_pic {
            position: relative;
        }

        .watermarked_pic:after {
            content: "版權所有 \A       @empname";
            display: block;
            white-space: pre;
            width: 100%;
            height: 10%;
            position: absolute;
            top: 30%;
            left: 0%;
            font-weight: bold;
            font-size: 48px;
            color: pink;
            opacity: 0.5;
        }


        .more-width-slidebar {
            width: 25%;
        }

    </style>
    <!-- "Dashboard" page styles specific to this page for demo purposes -->
</head>

<body>
    <div class="body-container">
        <nav class="navbar navbar-expand-lg navbar-fixed navbar-default navbar-lightyellow">
            <div class="navbar-inner">

                <div class="navbar-intro justify-content-xl-between">

                    <button type="button"
                            class="btn btn-burger burger-arrowed static collapsed ml-2 d-flex d-xl-none"
                           <!-- data-toggle-mobile="sidebar"-->
                            <!--data-target="#sidebar" -->
                            aria-controls="sidebar"
                            aria-expanded="false"
                            aria-label="Toggle sidebar">
                        <span class="bars"></span>
                    </button><!-- mobile sidebar toggler button -->

                    <a class="navbar-brand text-white">
                        <i class="fa fa-leaf"></i>
                        <span>E</span>
                        <span>Disk</span>
                    </a><!-- /.navbar-brand -->
                    <button type="button" class="btn btn-burger mr-2 d-none d-xl-flex">
                        <span class="bars"></span>
                    </button>

                    @*<button type="button" class="btn btn-burger mr-2 d-none d-xl-flex" data-toggle="sidebar" data-target="#sidebar1" aria-controls="sidebar" aria-expanded="true" aria-label="Toggle sidebar">
                            <span class="bars"></span>
                        </button>*@

                    <!-- sidebar toggler button -->

                </div><!-- /.navbar-intro -->


                <div class="navbar-content">

                    <button class="navbar-toggler py-2" type="button" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navbar search">
                        <i class="fa fa-search text-white text-90 py-1"></i>
                    </button>

                    <div class="navbar-content-section collapse navbar-collapse navbar-backdrop" id="navbarSearch">
                        <div class="d-flex align-items-center ml-lg-3">
                            <i class="fa fa-search text-white mr-n1 d-none d-lg-block"></i>
                            <input type="text"
                                   data-folder=""
                                   class="btn-search-file navbar-search-input px-1 pl-lg-4 ml-lg-n3 w-100 autofocus" placeholder=" SEARCH ..." aria-label="Search" />
                        </div>
                    </div>

                </div><!-- .navbar-content -->
                <!-- mobile #navbarMenu toggler button -->
                <button class="navbar-toggler ml-1 mr-2 px-1" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navbar menu">
                    <span class="pos-rel">
                        @*<img class="border-2 brc-white-tp1 radius-round" width="36" src="@Url.Content("~/assets/image/user.jpg")" alt="Jason's Photo">*@
                        <span class="bgc-warning radius-round border-2 brc-white p-1 position-tr mr-1px mt-1px"></span>
                    </span>
                </button>


                <div class="navbar-menu collapse navbar-collapse navbar-backdrop" id="navbarMenu">

                    <div class="navbar-nav">
                        <ul class="nav">

                            <li class="nav-item dropdown dropdown-mega">
                                <a class="nav-link dropdown-toggle btn-Mega"
                                   style="display:none;"
                                   href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-list-alt mr-2 d-lg-none"></i>
                                    Mega
                                    <i class="caret fa fa-angle-down d-none d-lg-block"></i>
                                    <i class="caret fa fa-angle-left d-block d-lg-none"></i>
                                </a>
                                <div class="p-0 dropdown-menu dropdown-animated bgc-light-m1 brc-primary-m2 border-t-0 border-x-1 border-b-2 ace-scrollbar">
                                    <div class="row mx-0 find-file-content justify-content-center">


                                    </div>
                                    <!-- .row: mega -->
                                    <!-- .row:megamenu big buttons -->
                                </div>
                            </li>

                            <li class="nav-item dropdown order-first order-lg-last">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    @*<img id="id-navbar-user-image" class="d-none d-lg-inline-block radius-round border-2 brc-white-tp1 mr-2" src="@Url.Content("~/assets/image/user.jpg")" alt="Jason's Photo">*@
                                    <span class="d-inline-block d-lg-none d-xl-inline-block">
                                        <span class="text-90" id="id-user-welcome">Welcome,</span>
                                        <span class="nav-user-name">@empname</span>
                                    </span>

                                    <i class="caret fa fa-angle-down d-none d-xl-block"></i>
                                    <i class="caret fa fa-angle-left d-block d-lg-none"></i>
                                </a>

                                <div class="dropdown-menu dropdown-caret dropdown-menu-right dropdown-animated brc-primary-m3">
                                    <div class="d-none d-lg-block d-xl-none">
                                        <div class="dropdown-header">
                                            Welcome, @empname
                                        </div>
                                        <div class="dropdown-divider"></div>
                                    </div>

                                    @*<a class="dropdown-item btn btn-outline-grey btn-h-lighter-primary btn-a-lighter-primary" href="html/page-profile.html">
                                            <i class="fa fa-user text-primary-m1 text-105 mr-1"></i>
                                            Profile
                                        </a>

                                        <a class="dropdown-item btn btn-outline-grey btn-h-lighter-success btn-a-lighter-success" href="#" data-toggle="modal" data-target="#id-ace-settings-modal">
                                            <i class="fa fa-cog text-success-m1 text-105 mr-1"></i>
                                            Settings
                                        </a>*@



                                    <a class="dropdown-item btn-outline-warning btn-h-lighter-warning btn-a-lighter-primary" href="../home">
                                        <i class="fa fa-user text-warning-m1 text-105 mr-1"></i>
                                        切換至一般使用者模式
                                    </a>

                                    <div class="dropdown-divider brc-primary-l2"></div>


                                    @if (super == 1)
                                    {
                                        <a class="dropdown-item btn btn-outline-grey btn-open-manager-modal
                                         btn-h-lighter-warning btn-a-lighter-warning" href="#">
                                            <i class="fa fa-user-check text-primary-m1 text-105 mr-1"></i>
                                            新增管理者
                                        </a>

                                    }

                                    <div class="dropdown-divider brc-primary-l2"></div>


                                    <a class="dropdown-item btn btn-outline-grey btn-h-lighter-secondary btn-a-lighter-secondary" href="@Url.Content("~/Login/Logout")">
                                        <i class="fa fa-power-off text-warning-d1 text-105 mr-1"></i>
                                        Logout
                                    </a>
                                </div>
                            </li><!-- /.nav-item:last -->

                        </ul><!-- /.navbar-nav menu -->
                    </div><!-- /.navbar-nav -->

                </div><!-- /.navbar-menu.navbar-collapse -->

            </div><!-- /.navbar-inner -->
        </nav>
        <div class="main-container">

            <div id="sidebar" class="sidebar sidebar-fixed expandable sidebar-default d-none d-xl-block">
                <div class="sidebar-inner">

                    <div class="ace-scroll flex-grow-1  w-100" ace-scroll>


                        <ul class="nav has-active-border" role="navigation" aria-label="Main">



                            <li class="nav-item-caption">
                                <a href="../manager"
                                   style="text-decoration: none;color: #717580;"
                                   class="fadeable pl-3 text-125 font-weight-bold">管理者的資料夾</a>
                                <span class="fadeinable mt-n2 text-125">&hellip;</span>

                            </li>

                            <li>
                                <div class="container-fluid">
                                    <div class="row justify-content-between">
                                        <div class="col-12 col-md-12 mt-3 mt-md-0 ml-0 pl-0">
                                            <div class="jqtree tree-dotted id-jqtree-files" id="id-jqtree-files">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>

                            <li class="nav-item-caption">
                                <span class="fadeable pl-3 text-125 font-weight-bold">已開放的資料夾</span>
                                <span class="fadeinable mt-n2 text-125">&hellip;</span>

                            </li>

                            <li>
                                <div class="container-fluid">
                                    <div class="row justify-content-between">
                                        <div class="col-12 col-md-12 mt-3 mt-md-0 ml-0 pl-0">
                                            <div class="jqtree tree-dotted id-jqtree-files2"
                                                 id="id-jqtree-files2">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>

                        </ul>

                    </div><!-- /.sidebar scroll -->
                    @*<div class="sidebar-section">
                    <div class="sidebar-section-item fadeable-bottom">
                        <div class="fadeinable">
                            <div class="pos-rel">
                                <img src="@Url.Content("~/assets/image/avatar/avatar4.jpg")" width="42" class="radius-round float-left mx-2 border-2 px-1px brc-secondary-m2" />
                                <span class="bgc-success-tp2 radius-round border-2 brc-white p-1 position-tr mr-1"></span>
                            </div>
                        </div>

                        <div class="fadeable hideable w-100 bg-transparent shadow-none border-0">
                            <div id="sidebar-footer-bg" class="bgc-white d-flex align-items-center shadow-sm mx-2 mt-2px py-2 radius-t-1 border-1 border-t-2 border-b-0 brc-primary-m3">
                                <div class="d-flex mr-auto py-1">
                                    <div class="pos-rel">
                                        <img src="@Url.Content("~/assets/image/avatar/avatar4.jpg")" width="42" class="radius-round float-left mx-2 border-2 px-1px brc-default-m2" />
                                        <span class="bgc-success-tp2 radius-round border-2 brc-white p-1 position-tr mr-1 mt-1"></span>
                                    </div>

                                    <div>
                                        <span class="text-blue font-bolder">Alexa</span>
                                        <div class="text-80 text-grey">
                                            Admin
                                        </div>
                                    </div>
                                </div>

                                <a href="#" class="btn btn-outline-blue border-0 p-2 mr-2px ml-4" title="Settings" data-toggle="modal" data-target="#id-ace-settings-modal">
                                    <i class="fa fa-cog text-150"></i>
                                </a>

                                <a href="html/page-login.html" class="btn btn-outline-warning border-0 p-2 mr-1" title="Logout">
                                    <i class="fa fa-sign-out-alt text-150"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>*@

                </div>
            </div><!-- /#sidebar -->
            <div class="resize-handle-x  text-danger " style="width:1px;cursor: w-resize;"></div>


            <div role="main" class="main-content">
                <div class="d-none content-nav mb-1 bgc-grey-l4">
                    <div class="d-flex justify-content-between align-items-center">
                        <ol class="breadcrumb pl-2">
                            <li class="breadcrumb-item active text-grey">
                                <i class="fa fa-home text-dark-m3 mr-1"></i>
                                <a class="text-blue" href="#">
                                    Home
                                </a>
                            </li>

                            <li class="breadcrumb-item active text-grey-d1">Dashboard</li>
                        </ol>

                        <div class="nav-search">
                            <form class="form-search">
                                <span class="d-inline-flex align-items-center">
                                    <input type="text" placeholder="Search ..." class="form-control pr-4 form-control-sm radius-1 brc-info-m2 text-grey" autocomplete="off" />
                                    <i class="fa fa-search text-info-m1 ml-n4"></i>
                                </span>
                            </form>
                        </div><!-- /.nav-search -->
                    </div>
                </div><!-- breadcrumbs -->


                <div id="el"
                     class="none-active"
                     style="position:fixed;
                 width:250px;
                 height:100px;
                 bottom:40%;
                 right:40%;
                 z-index:1;
                 border-radius:50px;
                 text-align:center;"></div>
                <!--page-content container-->
                <div class="my-2 mx-4">
                    @RenderBody()

                </div><!-- /.page-content -->

                <footer class="footer d-none d-sm-block">
                    <div class="footer-inner bgc-white-tp1">
                        <div class="pt-3 border-none border-t-3 brc-grey-l1 border-double">
                            <span class="text-primary-m2 font-bolder text-120">XXXXX</span>
                            <span class="text-muted">Application &copy; 2021</span>

                            @*<span class="mx-3 action-buttons">
                            <a href="#" class="text-blue2-m3 text-140"><i class="fab fa-twitter-square"></i></a>
                            <a href="#" class="text-blue-d1 text-140"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="text-orange text-140"><i class="fa fa-rss-square"></i></a>
                        </span>*@
                        </div>
                    </div><!-- .footer-inner -->

                    <div class="footer-tools">
                        <a id="btn-scroll-up" href="#" class="btn-scroll-up btn btn-dark btn-smd mb-2 mr-2">
                            <i class="fa fa-angle-double-up mx-1"></i>
                        </a>
                    </div>
                </footer>



                <!-- footer toolbox for mobile view -->
                <footer class="d-sm-none footer footer-sm footer-fixed">
                    <div class="footer-inner">
                        <div class="btn-group d-flex h-100 mx-2 border-x-1 border-t-2 brc-primary-m3 bgc-default-l4 radius-t-1 shadow">
                            <button class="btn btn-outline-primary btn-h-lighter-primary btn-a-lighter-primary border-0">
                                <i class="fas fa-sliders-h text-blue-m1 text-120"></i>
                            </button>

                            <button class="btn btn-outline-purple btn-h-lighter-purple btn-a-lighter-purple border-0">
                                <i class="fa fa-plus-circle text-purple-m2 text-120"></i>
                            </button>

                            <button class="btn btn-outline-warning btn-h-lighter-warning btn-a-lighter-warning border-0" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navbar search">
                                <i class="fa fa-search text-warning text-120"></i>
                            </button>

                            <button class="btn btn-outline-brown btn-h-lighter-brown btn-a-lighter-brown border-0 mr-0">
                                <i class="fa fa-bell text-brown-m1 text-120"></i>
                            </button>
                        </div>
                    </div>
                </footer>
            </div><!-- /main -->

            <div id="id-ace-settings-modal" class="my-1 my-lg-2 modal modal-nb ace-aside aside-right aside-offset aside-below-nav" data-backdrop="false" tabindex="-1" role="dialog" aria-hidden="true">

                <div class="modal-dialog" role="document">
                    <div class="modal-content w-auto flex-grow-1 pb-1px radius-0 radius-l-2 border-y-2 border-l-1 brc-default-m3 bgc-white-tp1 shadow">

                        <div class="modal-header p-0 radius-0 mx-3">
                            <h4 class="modal-title text-blue-m1 pt-2 pl-1">Demo Settings</h4>

                            <button type="button" class="close m-0 mr-n2" data-dismiss="modal" aria-label="Close">
                                <i class="fa fa-times text-70" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="modal-body mx-md-2" ace-scroll='{"smooth": true, "lock": true}'>
                            <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
                                <h5 class="text-secondary-m1">Zoom</h5>

                                <div class="btn-group btn-group-toggle align-self-end" data-toggle="buttons">
                                    <label class="btn btn-sm btn-light-grey btn-h-light-primary btn-a-primary">
                                        90%
                                        <input type="radio" name="zoom-level" value="90" autocomplete="off" />
                                    </label>

                                    <label class="btn btn-sm btn-light-grey btn-h-light-primary btn-a-primary active">
                                        100%
                                        <input type="radio" name="zoom-level" value="none" autocomplete="off" checked />
                                    </label>

                                    <label class="btn btn-sm btn-light-grey btn-h-light-primary btn-a-primary">
                                        110%
                                        <input type="radio" name="zoom-level" value="110" autocomplete="off" />
                                    </label>

                                    <label class="btn btn-sm btn-light-grey btn-h-light-primary btn-a-primary">
                                        120%
                                        <input type="radio" name="zoom-level" value="120" autocomplete="off" />
                                    </label>
                                </div>
                            </div>

                            <hr class="border-double my-md-3" />

                            <h5 class="text-purple-m2">
                                Themes
                            </h5>

                            <div class="bgc-secondary-l3 py-1 radius-1 mb-3 border-1 radius-1 border-l-3 brc-secondary-m3">
                                <label class="mt-1 pr-2 d-flex align-items-center" for="id-auto-match">
                                    <input type="checkbox" class="input-lg mx-15" id="id-auto-match" autocomplete="off" checked />

                                    <div class="pl-0 text-secondary-d1 text-90 font-bolder">Match sidebar &amp; navbar themes</div>
                                </label>
                            </div>



                            <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
                                <h6 class="text-95 pl-1 text-grey-d1">Sidebar:</h6>

                                <div class="btn-group btn-group-toggle align-self-end flex-wrap px-0  col-10 col-sm-7" data-toggle="buttons">
                                    <label class="btn btn-sm btn-outline-default active mb-1">
                                        Default
                                        <input type="radio" name="sidebar-theme" value="default" autocomplete="off" checked />
                                    </label>

                                    <label class="btn btn-sm btn-outline-default mb-1">
                                        Dark
                                        <input type="radio" name="sidebar-theme" value="dark" autocomplete="off" />
                                    </label>

                                    <label class="btn btn-sm btn-outline-default mb-1 ">
                                        Light
                                        <input type="radio" name="sidebar-theme" value="light" autocomplete="off" />
                                    </label>
                                </div>
                            </div>



                            <div>
                                <div class="d-none bgc-secondary-l1 radius-1 px-1 mb-3 mt-1 text-center" id="id-sidebar-themes-dark">
                                    <div class="btn-group btn-group-toggle align-self-end flex-wrap justify-content-center w-75 mx-auto align-items-center my-2 flex-equal-sm" data-toggle="buttons">
                                        <label class="btn btn-xs sidebar-color border-0 sidebar-dark d-style active">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="dark" autocomplete="off" checked />
                                        </label>

                                        <label class="btn btn-xs sidebar-color border-0 sidebar-darkblue d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="darkblue" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs sidebar-color border-0 sidebar-darkslategrey d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="darkslategrey" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs sidebar-color border-0 sidebar-cadetblue d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="cadetblue" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs sidebar-color border-0 sidebar-plum d-style my-1px">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="plum" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs sidebar-color border-0 sidebar-darkslateblue d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="darkslateblue" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs sidebar-color border-0 sidebar-purple d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="purple" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs sidebar-color border-0 sidebar-steelblue d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="steelblue" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs sidebar-color border-0 sidebar-blue d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="blue" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs sidebar-color border-0 sidebar-teal d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="teal" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs sidebar-color border-0 sidebar-green d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="green" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs sidebar-color border-0 sidebar-darkcrimson d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="darkcrimson" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs sidebar-color border-0 sidebar-gradient1 d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="gradient1" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs sidebar-color border-0 sidebar-gradient2 d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="gradient2" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs sidebar-color border-0 sidebar-gradient3 d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="gradient3" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs sidebar-color border-0 sidebar-gradient4 d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="gradient4" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs sidebar-color border-0 sidebar-gradient5 d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="sidebar-dark" value="gradient5" autocomplete="off" />
                                        </label>

                                    </div>
                                </div><!-- #id-sidebar-themes-dark -->


                                <div class="d-none" id="id-sidebar-themes-light">
                                    <div class="bgc-secondary-tp2 radius-1 py-1 px-1 mb-3 mt-1 text-center">
                                        <div class="d-flex btn-group btn-group-toggle align-self-end flex-wrap justify-content-center mx-auto align-items-center my-2 flex-equal-sm" data-toggle="buttons">

                                            <label class="active btn btn-xs border-0 sidebar-lightblue d-style my-1px">
                                                <i class="fa fa-check text-muted v-active"></i>
                                                <input type="radio" name="sidebar-light" value="lightblue" autocomplete="off" checked />
                                            </label>

                                            <label class="btn btn-xs border-0 sidebar-lightpurple d-style">
                                                <i class="fa fa-check text-muted v-active"></i>
                                                <input type="radio" name="sidebar-light" value="lightpurple" autocomplete="off" />
                                            </label>

                                            <label class="btn btn-xs border-0 sidebar-lightblue2 d-style">
                                                <i class="fa fa-check text-muted v-active"></i>
                                                <input type="radio" name="sidebar-light" value="lightblue2" autocomplete="off" />
                                            </label>

                                            <label class="btn btn-xs border-0 sidebar-white2 d-style">
                                                <i class="fa fa-check text-muted v-active"></i>
                                                <input type="radio" name="sidebar-light" value="white2" autocomplete="off" />
                                            </label>

                                            <label class="btn btn-xs border-0 sidebar-white d-style">
                                                <i class="fa fa-check text-muted v-active"></i>
                                                <input type="radio" name="sidebar-light" value="white" autocomplete="off" />
                                            </label>

                                            <label class="btn btn-xs border-0 sidebar-white3 d-style">
                                                <i class="fa fa-check text-muted v-active"></i>
                                                <input type="radio" name="sidebar-light" value="white3" autocomplete="off" />
                                            </label>

                                            <label class="btn btn-xs border-0 sidebar-light d-style">
                                                <i class="fa fa-check text-muted v-active"></i>
                                                <input type="radio" name="sidebar-light" value="light" autocomplete="off" />
                                            </label>

                                        </div>
                                    </div>
                                </div><!-- #id-sidebar-themes-light -->

                            </div>


                            <hr class="border-dotted" />


                            <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
                                <h6 class="text-95 pl-1 text-grey-d1">Navbar:</h6>

                                <div class="btn-group btn-group-toggle align-self-end flex-wrap px-0 col-10 col-sm-7" data-toggle="buttons">
                                    <label class="btn btn-sm btn-outline-green active mb-1">
                                        Default
                                        <input type="radio" name="navbar-theme" value="default" autocomplete="off" checked />
                                    </label>

                                    <label class="btn btn-sm btn-outline-green mb-1">
                                        Light
                                        <input type="radio" name="navbar-theme" value="light" autocomplete="off" />
                                    </label>

                                    <label class="btn btn-sm btn-outline-green mb-1">
                                        Dark
                                        <input type="radio" name="navbar-theme" value="dark" autocomplete="off" />
                                    </label>
                                </div>

                            </div>

                            <div>

                                <div class="d-none bgc-secondary-l1 radius-1 px-1 mb-3 mt-1 text-center" id="id-navbar-themes-dark">
                                    <div class="btn-group btn-group-toggle align-self-end flex-wrap justify-content-center w-75 mx-auto align-items-center my-2 flex-equal-sm" data-toggle="buttons">

                                        <label class="btn btn-xs navbar-color border-0 navbar-steelblue d-style active my-1px">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="navbar-dark" value="steelblue" autocomplete="off" checked />
                                        </label>

                                        <label class="btn btn-xs border-0 navbar-blue d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="navbar-dark" value="blue" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs navbar-color border-0 navbar-teal d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="navbar-dark" value="teal" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs navbar-color border-0 navbar-mediumseagreen d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="navbar-dark" value="mediumseagreen" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs navbar-color border-0 navbar-cadetblue d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="navbar-dark" value="cadetblue" autocomplete="off" />
                                        </label>



                                        <label class="btn btn-xs navbar-color border-0 navbar-plum d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="navbar-dark" value="plum" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs navbar-color border-0 navbar-purple d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="navbar-dark" value="purple" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs navbar-color border-0 navbar-orange d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="navbar-dark" value="orange" autocomplete="off" />
                                        </label>


                                        <label class="btn btn-xs navbar-color border-0 navbar-burlywood d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="navbar-dark" value="burlywood" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs navbar-color border-0 navbar-darkseagreen d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="navbar-dark" value="darkseagreen" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs border-0 navbar-skyblue d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="navbar-dark" value="skyblue" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs navbar-color border-0 navbar-secondary d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="navbar-dark" value="secondary" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-xs navbar-color border-0 navbar-slategrey d-style">
                                            <i class="fa fa-check text-white v-active"></i>
                                            <input type="radio" name="navbar-dark" value="slategrey" autocomplete="off" />
                                        </label>

                                    </div>
                                </div><!-- #id-navbar-themes-dark -->

                                <div class="d-none" id="id-navbar-themes-light">
                                    <div class="bgc-secondary-tp2 radius-1 py-1 px-1 mb-3 mt-1 text-center">
                                        <div class="d-flex btn-group btn-group-toggle align-self-end flex-wrap justify-content-center mx-auto align-items-center my-2 flex-equal-sm" data-toggle="buttons">

                                            <label class="active btn btn-xs border-0 navbar-lightblue d-style my-1px">
                                                <i class="fa fa-check text-muted v-active"></i>
                                                <input type="radio" name="navbar-light" value="lightblue" autocomplete="off" checked />
                                            </label>

                                            <label class=" btn btn-xs border-0 navbar-white d-style my-1px">
                                                <i class="fa fa-check text-muted v-active"></i>
                                                <input type="radio" name="navbar-light" value="white" autocomplete="off" />
                                            </label>

                                            <label class=" btn btn-xs border-0 navbar-white2 d-style my-1px">
                                                <i class="fa fa-check text-muted v-active"></i>
                                                <input type="radio" name="navbar-light" value="white2" autocomplete="off" />
                                            </label>

                                            <label class="btn btn-xs border-0 navbar-lightpurple d-style">
                                                <i class="fa fa-check text-muted v-active"></i>
                                                <input type="radio" name="navbar-light" value="lightpurple" autocomplete="off" />
                                            </label>

                                            <label class="btn btn-xs border-0 navbar-lightgreen d-style">
                                                <i class="fa fa-check text-muted v-active"></i>
                                                <input type="radio" name="navbar-light" value="lightgreen" autocomplete="off" />
                                            </label>

                                            <label class="btn btn-xs border-0 navbar-lightgrey d-style">
                                                <i class="fa fa-check text-muted v-active"></i>
                                                <input type="radio" name="navbar-light" value="lightgrey" autocomplete="off" />
                                            </label>

                                            <label class="btn btn-xs border-0 navbar-lightyellow d-style">
                                                <i class="fa fa-check text-muted v-active"></i>
                                                <input type="radio" name="navbar-light" value="lightyellow" autocomplete="off" />
                                            </label>

                                            <label class="btn btn-xs border-0 navbar-khaki d-style">
                                                <i class="fa fa-check text-muted v-active"></i>
                                                <input type="radio" name="navbar-light" value="khaki" autocomplete="off" />
                                            </label>

                                        </div>
                                    </div>

                                </div><!-- #id-navbar-themes-light -->

                            </div>


                            <hr class="border-dotted" />


                            <div class="text-95">
                                <h5 class="text-success-m1">Layout</h5>

                                <div class="mt-3 d-flex justify-content-between align-items-center">
                                    <label for="id-navbar-fixed" class="pl-1 text-grey-d1">Fixed Navbar</label>
                                    <input type="checkbox" class="ace-switch" id="id-navbar-fixed" checked autocomplete="off" />
                                </div>

                                <div class="mt-2 d-flex justify-content-between align-items-center">
                                    <label for="id-sidebar-fixed" class="pl-1 text-grey-d1">Fixed Sidebar</label>
                                    <input type="checkbox" class="ace-switch" id="id-sidebar-fixed" checked autocomplete="off" />
                                </div>

                                <div class="mt-2 d-flex justify-content-between align-items-center">
                                    <label for="id-footer-fixed" class="pl-1 text-grey-d1">Fixed Footer</label>
                                    <input type="checkbox" class="ace-switch" id="id-footer-fixed" autocomplete="off" />
                                </div>

                                <div class="mt-2 d-none d-xl-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
                                    <div class="pl-1 text-grey-d1">Boxed Layout</div>

                                    <div class="w-50 btn-group btn-group-toggle flex-row flex-wrap fl1ex-md-nowrap" data-toggle="buttons">
                                        <label class="btn btn-sm btn-outline-info rounded-0 mx-0">
                                            None
                                            <input type="radio" name="boxed-layout" value="none" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-sm btn-outline-info mx-0">
                                            All
                                            <input type="radio" name="boxed-layout" value="all" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-sm btn-outline-info mx-0">
                                            Not Navbar
                                            <input type="radio" name="boxed-layout" value="not-navbar" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-sm btn-outline-info rounded-0 mx-0 mt-n1px active">
                                            Only Content
                                            <input type="radio" name="boxed-layout" value="only-content" autocomplete="off" checked />
                                        </label>
                                    </div>
                                </div>

                                <div id="id-body-bg" class="collapse">
                                    <div class="mt-3 d-none d-xl-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
                                        <h6 class="text-95 pl-1 text-grey-d1">Body Background:</h6>

                                        <div class="btn-group btn-group-toggle align-self-end" data-toggle="buttons">
                                            <label class="btn btn-sm btn-outline-purple active  mb-1">
                                                Auto
                                                <input type="radio" name="body-theme" value="auto" autocomplete="off" checked />
                                            </label>

                                            <label class="btn btn-sm btn-outline-purple mb-1">
                                                Image 1
                                                <input type="radio" name="body-theme" value="img1" autocomplete="off" />
                                            </label>

                                            <label class="btn btn-sm btn-outline-purple mb-1">
                                                Image 2
                                                <input type="radio" name="body-theme" value="img2" autocomplete="off" />
                                            </label>
                                        </div>
                                    </div>
                                </div>



                                <hr class="border-dotted my-2" />

                                <div class="mt-1 d-flex justify-content-between align-items-center">
                                    <label for="id-rtl" class="pl-1 text-grey-d1">RTL (right to left)</label>

                                    <input type="checkbox" class="ace-switch" id="id-rtl" autocomplete="off" />
                                </div>


                            </div>

                            <hr class="border-double my-md-4" />

                            <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
                                <h5 class="text-info">Font</h5>

                                <div class="align-self-end w-75">
                                    <select autocomplete="off" id="id-change-font" class="ace-select radius-round w-100 text-grey brc-h-info-m2">
                                        <option value="lato">Lato</option>
                                        <option value="montserrat">Montserrat</option>
                                        <option value="noto-sans">Noto Sans</option>
                                        <option value="open-sans" selected>Open Sans</option>
                                        <option value="poppins">Poppins</option>
                                        <option value="raleway">Raleway</option>
                                        <option value="roboto" class="text-primary-d2 text-600">Roboto (popular)</option>
                                        <option value="">----</option>
                                        <option value="markazi">Markazi (for RTL languages)</option>
                                    </select>
                                </div>
                            </div>


                            <hr class="border-double my-md-4" />

                            <div class="text-95">
                                <h5 class="text-warning-d1 ml-n2px">Sidebar</h5>
                                <!--
                        <div class="mt-3 d-none d-xl-flex justify-content-between align-items-center">
                            <label for="id-sidebar-compact" class="pl-1 text-grey-d2">Compact</label>

                            <div class="custom-control custom-switch d-inline-block">
                              <input type="checkbox" class="custom-control-input" id="id-sidebar-compact" autocomplete="off" />
                              <label class="custom-control-label" for="id-sidebar-compact"></label>
                            </div>
                        </div>

                        <div class="mt-2 d-none d-xl-flex justify-content-between align-items-center">
                            <label for="id-sidebar-hover" class="pl-1 text-grey-d2">Submenu on Hover</label>

                            <div class="custom-control custom-switch d-inline-block">
                              <input type="checkbox" class="custom-control-input" id="id-sidebar-hover" autocomplete="off" />
                              <label class="custom-control-label" for="id-sidebar-hover"></label>
                            </div>
                        </div>
                        -->

                                <div class="mt-2 d-none d-xl-flex justify-content-between align-items-center">
                                    <div class="pl-1 text-grey-d1">Collapsed Mode</div>

                                    <div class="btn-group btn-group-toggle flex-row" data-toggle="buttons">
                                        <label class="btn btn-sm btn-outline-red active mx-0">
                                            Expand
                                            <input type="radio" name="sidebar-collapsed" value="expandable" autocomplete="off" checked />
                                        </label>

                                        <label class="btn btn-sm btn-outline-red mx-0">
                                            Popup
                                            <input type="radio" name="sidebar-collapsed" value="hoverable" autocomplete="off" />
                                        </label>

                                        <label class="btn btn-sm btn-outline-red mx-0">
                                            Hide
                                            <input type="radio" name="sidebar-collapsed" value="hideable" autocomplete="off" />
                                        </label>
                                    </div>
                                </div>

                                <div class="mt-3 d-none d-xl-flex justify-content-between align-items-center">
                                    <label for="id-sidebar-hover" class="pl-1 text-grey-d1">Submenu on Hover</label>

                                    <label>
                                        <input type="checkbox" class="ace-switch" id="id-sidebar-hover" autocomplete="off" />
                                    </label>
                                </div>

                                <div class="mt-2 d-flex d-xl-none justify-content-between align-items-center">
                                    <label for="id-push-content" class="pl-1 text-grey-d1">Push Content</label>

                                    <label>
                                        <input type="checkbox" class="ace-switch" id="id-push-content" autocomplete="off" />
                                    </label>
                                </div>

                            </div>

                            <div class="my-1"></div>

                        </div>

                        <div class="modal-footer d-none justify-content-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                <i class="fa fa-times mr-1"></i>
                                Close
                            </button>
                            <button type="button" class="btn btn-info">
                                <i class="fa fa-check mr-1"></i>
                                Keep changes
                            </button>
                        </div>

                    </div><!-- .modal-content -->
                    @*<div class="aside-header align-self-start mt-1 mt-md-5 text-right">
                    <button type="button" class="btn btn-warning btn-lg shadow-sm pl-2 radius-l-2" data-toggle="modal" data-target="#id-ace-settings-modal">
                        <i class="fa fa-cog text-110 ml-1"></i>
                    </button>
                </div>*@

                </div><!-- .modal-dialog -->
            </div><!-- .modal-aside -->
        </div><!-- /.main-container -->
    </div><!-- .modal-aside -->
    <!-- include common vendor scripts used in demo pages -->
    <script type="text/javascript" src="@Url.Content("~/nodemodules/jquery/dist/jquery.js")"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="@Url.Content("~/nodemodules/popper.js/dist/umd/popper.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/nodemodules/bootstrap/dist/js/bootstrap.js")"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.min.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/busy-load/dist/app.min.js"></script>


    <script type="text/javascript" src="@Url.Content("~/nodemodules/popper.js/dist/umd/popper.js")"></script>



    <script type="text/javascript" src="@Url.Content("~/nodemodules/jqtree/tree.jquery.js")"></script>


    <script type="text/javascript" src="@Url.Content("~/nodemodules/datatables/media/js/jquery.dataTables.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/nodemodules/datatables.net-bs4/js/dataTables.bootstrap4.js")"></script>


    <script type="text/javascript" src="@Url.Content("~/nodemodules/datatables.net-colreorder/js/dataTables.colReorder.js")"></script>


    <script type="text/javascript" src="@Url.Content("~/js/sweetalert2.js")"></script>

    <!-- include vendor scripts used in "Dashboard" page. see "application/views/default/pages/partials/dashboard/@@vendor-scripts.hbs" -->
    <script type="text/javascript" src="@Url.Content("~/nodemodules/chart.js/dist/Chart.js")"></script>


    <script type="text/javascript" src="@Url.Content("~/nodemodules/sortablejs/Sortable.js")"></script>


    <!-- include Ace script -->
    <script type="text/javascript" src="@Url.Content("~/dist/js/ace.js")"></script>


    <script type="text/javascript" src="@Url.Content("~/assets/js/demo.js")"></script>
    <!-- this is only for Ace's demo and you don't need it -->
    <!-- "Dashboard" page script to enable its demo functionality -->
    @*<script type="text/javascript" src="@Url.Content("~/application/views/default/pages/partials/dashboard/@page-script.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/js/loadtree.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/js/fun.js")"  asp-append-version="true"></script>


    <script type="text/javascript" src="@Url.Content("~/nodemodules/bootstrap-select/dist/js/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/nodemodules/bootstrap-duallistbox/dist/jquery.bootstrap-duallistbox.js")"></script>


    <script src="@Url.Content("~/js/jquery.resizableColumns.min.js")"></script>

    @*<script type="text/javascript" src="@Url.Content("~/nodemodules/select2/dist/js/select2.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/nodemodules/chosen-js/chosen.jquery.js")"></script>


        <script type="text/javascript" src="@Url.Content("~/nodemodules/bootstrap-tagsinput/dist/bootstrap-tagsinput.js")"></script>*@


    </div><!-- /.body-container -->
    <script>

        function bindfilerow() {
            $('.file-row').unbind('click');
            $('.file-row').on('click', function (e) {


                //prevent drag and drop to trigger click
                if ($(this).hasClass('noclick')) {
                    $(this).removeClass('noclick');
                }
                else {

                    var type = $(this).parent('tr').data('type');

                    if (type == "Directory") {
                        var path = $(this).parent('tr').data('path');

                        var type1 = $('.navbar-search-input').data('folder');

                        loadWebContent(path, type1);
                    }
                }

            });
        }

        //searchbar
        function reloaddatatable() {

                var url = "@Url.Content("~/data/GetSearchDatatable")";

                $('.find-file-content').load(url, function () {

                    var oTable = $('#finddatatable').DataTable({
                       "pagingType": "full_numbers",
                       'sdom': 'Rlfrtip',
                       "pageLength": 8,
                        "info": false,
                        "searching": true,
                        "destroy": true,
                       "lengthMenu": [
                           [8, 10, 25, 50, -1],
                           [8, 10, 25, 50, "All"]
                       ],
                       responsive: true,
                       colReorder: false,
                       "order": [[2, "desc"]],
                       drawCallback: function (settings) {

                           $('.file-row2').on('click', function () {

                               var type = $(this).data('type');
                               var path = $(this).data('path');
                               var category = $(this).data('category');

                               $('.navbar-search-input').data('folder', category);

                               loadWebContent(path, category);
                           });
                          // $('.TimeFormat').datepicker({ dateFormat: 'yy-mm-dd' });

                       },
                       language: {
                           search: "_INPUT_",
                           searchPlaceholder: "Search file",
                       }
                   });

                    $('.navbar-search-input').keyup(function () {
                        oTable.search($(this).val()).draw();
                    });



                });


        }

        function bindresize() {


            $(".resize-handle-x").resizable({
                animate: false,
                maxWidth: 100,
                minWidth: 1,
                resize: function (event, ui) {


                    var oldwidth = ui.originalSize.width;
                    var newwidth = ui.size.width;

                    //$('#sidebar').css('width', '0%').css('width', '15%');

                    if (oldwidth < newwidth) {
                        $('#sidebar').css('width', '25%');

                    } else if (oldwidth >= newwidth) {
                        $('#sidebar').css('width', '0%').css('width', '15%');

                    }

                }

            });
        }

        $(function () {
            $.busyLoadSetup({ animation: "slide", background: "rgba(192, 192, 192, 0.86)" });

            reloaddatatable();
        })
    </script>
    @RenderSection("scripts", required: false)

    <script>
        $(function () {

            $('.btn-burger').on('click', function () {

                $('#sidebar').toggleClass("more-width-slidebar");
            });

        })
    </script>
</body>

</html>